[2018-11-04 15:04] faultfactory opened #1 "Installation fails on youtube-dl - Installation dependencies?"
Hello,

I'm installing the most recent version of node an npm via these instructions:
'https://websiteforstudents.com/install-the-latest-node-js-and-nmp-packages-on-ubuntu-16-04-18-04-lts/'

When i run 'npm install -g udacimak' I get the following error:
'''

/usr/lib/node_modules/udacimak/node_modules/mkdirp/index.js:90
                    throw err0;
                    ^

Error: EACCES: permiss

[2018-11-04 15:37] faultfactory commented on #1
I created a new 18.04 vm and started clean. I ran into the same issues with clean installations of node.js and npm.

I then found this page
'https://docs.npmjs.com/getting-started/fixing-npm-permissions'

The procedure there allowed me to install but still throws an npm update error at the end. I can live with this.

[2018-11-04 15:47] udacimak commented on #1
Hi @faultfactory

Could you please paste the _npm update error_ log here?

I have no access to Ubuntu at the moment so I can't try to replicate the issue yet. But searching around has led me to the same article regarding fixing npm permissions.

It looks like someone else' package had this problem before with `node-youtube-dl`: https://github.com/przemyslawpluta/node-youtube-dl/issues/93

[2018-11-04 16:06] faultfactory commented on #1
It presents a box like this with uname being my user name.

┌─────────────────────────────────  ────┐
│                 npm update check failed                                         │
│           Try running with sudo or get access                              │
│          to the local update config store via                                │
│ sudo chown -R $USER:$(id -gn $USER) /home/uname/.con

[2018-11-04 16:16] udacimak commented on #1
That's a Node warning but Udacimak should be working fine. Please open more issues if you see any errors. Thanks!

[2018-11-04 16:17] #1 closed

[2018-11-04 16:20] faultfactory commented on #1
Yes, agreed, I should have clarified. Udacimak is running and scraping content just fine.

[2018-11-04 16:37] faultfactory opened #2 "Udacimak stops on render of lesson from self driving car nanodegree"
Udacimak version 0.10.3

Began render and it stopped at this same location. I ctrl-c'd to stop it and re-ran the render command. It stopped at the same location. No error is thrown and the udacimak.error and udacimak.exceptions log files are empty. The info mirrors the terminal output and ends at the following:

[code]

Is there a verbose flag that we can use to provide more info?
Should I (can I?

[2018-11-04 16:46] udacimak commented on #2
Could you please email the `data.json` files to udacimak@tutanota.com ?

I will try to have a look later. I have rendered this ND successfully before though. Need to see if anything wrong in your ND version.

[2018-11-04 17:12] udacimak commented on #2
I rendered the lesson and it works fine on Windows and MacOS.
I will set up a Ubuntu VM later to try to test the CLI on it so let's see if it's an issue on Ubuntu. Fingers crossed!

[2018-11-05 01:30] udacimak commented on #2
@faultfactory
I set up a [Ubuntu subsystem](https://docs.microsoft.com/en-us/windows/wsl/install-win10) on Windows 10 to test it. But I was able to complete the render process for the lesson without errors:

[code]

There are no errors thrown so I'm not sure why. But I think that it may be an `youtube-dl` issue that's causing your terminal to hang.
Could you try installing [`youtube-dl`](https://r

[2018-11-05 08:39] udacimak commented on #2
@faultfactory

I think it does sense that we should have `--verbose` param option to allow logging debug information.
I've added `-v`/`--verbose` tag for `render` and `renderdir` command options. It will make `youtube-dl` log the verbose messages. Please run `npm update -g udacimak` to get the latest `0.10.4` version.

Could you run `render` with `--verbose` parameter and check the debug message.

[2018-11-05 17:15] faultfactory commented on #2
The problem was not reproducible this time for the same content.  It hung for about 30 seconds and then continued. I am going to continue letting it render until it stops or i need to leave. I will post the output when I get back.

[2018-11-06 03:52] faultfactory commented on #2
As requested

'''

[debug] System config: []
[debug] User config: []
[debug] Custom config: []
[debug] Command-line args: [u'--dump-json', u'--format=best', u'--verbose', u'http://www.youtube.com/watch?v=46PywnGa_cQ']
[debug] Encodings: locale UTF-8, fs UTF-8, out None, pref UTF-8
[debug] youtube-dl version 2018.11.03
[debug] Python version 2.7.15rc1 (CPython) - Linux-4.15.0-32-generic-x86_64-with

[2018-11-06 03:56] faultfactory commented on #2
Brute force approach of ctrl+c and restarting worked. Unclear as to why.

[2018-11-06 04:06] udacimak commented on #2
@faultfactory

Thanks. Your _debug log_ looks fine 👍
I've set up a _Ubuntu 18_ machine via _Windows Hyper V_ and have been rendering without problems.

I suspect that you could be experiencing network issues. I think this is not a `youtube-dl` or `udacimak` issue.

I can keep this issue _opened_ until you finish rendering SDCND. Please update if you see any hints of errors, or if you have finished

[2018-11-06 04:57] rgekhman opened #3 "Udacimak stops on render of "AI for Trading" nano degree"
Unhandled promise rejection error:

[code]

[2018-11-06 05:01] udacimak commented on #3
Please refer to this section of the README:
- https://github.com/udacimak/udacimak#windows-users-and-youtube-dl

For Windows, we need to download `youtube-dl.exe` and replace the default one. Refer to [this `node-youtube-dl` issue](https://github.com/przemyslawpluta/node-youtube-dl/issues/169#issuecomment-380400885)

[2018-11-06 05:12] #3 closed

[2018-11-06 05:19] udacimak commented on #3
@rgekhman
I realized it's not ideal to make every Windows user fix it. Plus the fix needs to be manually done everytime `udacimak` is updated. So I've released a patch.

You can run `npm i -g udacimak` to get the updated version.

Instead of installing `node-youtube-dl` from `npm`, Udacimak now will install `node-youtube-dl` from its new Github commit that fixed this issue.

Please open a new issu

[2018-11-06 15:40] faultfactory commented on #2
@udacimak

I've had a few 'socket hang up' errors and various other small hiccups that I believe are the result of network traffic issues. I can usually get it to work via more brute force retrys.  I'm currently on Part 03 of nd013 and hopefully it continues successfully.

I believe whatever I'm fighting is a result of things outside the control of udacimak's code. That said, since a simply re-sta

[2018-11-06 16:51] faultfactory commented on #2
Render completed. I've attached the exceptions file.  The info file is excessively large due to the multiple restarts.

[udacimak.exceptions.log](https://github.com/udacimak/udacimak/files/2554168/udacimak.exceptions.log)

[2018-11-07 10:58] udacimak commented on #2
Thanks @faultfactory

I will look into this further to see how Udacimak can improve UX for cases like this. Will keep this issue opened til further updates.

[2018-11-07 16:48] rgekhman commented on #2
Just a tip:
I'm on Win 10. My rendering of video content would stop 4-5 times before fully completed. And solution for it was to refresh Udacity session, and re-enter _jwt token (i.e. run command "udacimak settoken <token>") then re-run "udacimak render ... " command.

[2018-11-08 07:13] Heerozh opened #4 "Render stops on Deep Learning Foundation in Lab content"
version 0.10.6,  windows 10

I tried it a few times and stopped here:

[code]

Thanks, this project helped me a lot. :)

[2018-11-08 07:31] udacimak commented on #4
Thanks for reporting. I'm looking into this error. If possible, could you please send the json data to udacimak@tutanota.com? This error comes from the rendering of __Lab__ content, which is very new in Udacity and I'm not sure if I have enough information to make the Lab render stable.

[2018-11-08 08:58] udacimak commented on #4
I have been able to fix the issue and have rendered the reported lesson without issues. Also found another bug occurred in a later lesson _due to `null` JSON data keys_ and have also fixed that.

I'll release an update soon and that will automatically close this issue. Once the next version is released, you can run `npm update -g udacimak` to update and run the render again.

Thanks again, @Heeroz

[2018-11-08 09:11] #2 closed

[2018-11-08 09:11] #4 closed

[2018-11-12 16:34] nuges01 opened #5 "Subtitles/closed caption on rendered video"
Hi,

The rendered video doesn't seem to have an option to turn on subtitles/closed caption. Is this a function of the video player or a bug? If it's the video player, do you have tips for configuring with a subtitle-supporting player?

Thanks!

[2018-11-12 20:41] udacimak commented on #5
Hi @nuges01,

I didn't write HTML5 support for video subtitles. HTML5 video player requires the web page to be run on a server to display the subtitles, so I didn't think of supporting it due to the server hassle.

If you prefer to have subtitles, you can use [VLC](https://www.videolan.org) to watch the videos with subtitles instead.

[2018-11-12 23:29] hantatsang commented on #5
@nuges01 I feel like, since the CLI downloads subtitles, it's a waste not to display subtitles on the webpage.

I'll add this feature and release an update.
I'll let you know once a new version is released, should be in less than a day.

[2018-11-12 23:32] udacimak commented on #5
@nuges01
Since the CLI download subtitles, I think it's a waste not to display subtitles on the webpage.

I'll add subtitles feature and release an update. I'll let you know once a new version is released, should be in less than a day.

[2018-11-13 09:05] #5 closed

[2018-11-13 09:07] udacimak commented on #5
I have released a new version that includes subtitles in the HTML code.
See [here in `README`](https://github.com/udacimak/udacimak/blob/master/README.MD#watching-video-with-subtitles#watching-video-with-subtitles) for details.

If any further problems, please let me know.

Enjoy!

[2018-11-13 16:25] nuges01 commented on #5
This is awesome work, @udacimak. The entire tool is just so amazing. You, sir/ma'am deserve a medal!

[2018-11-14 11:05] cfdesign opened #6 "Student quiz responses"
Hello, firstly BIG, HUGE THANKS!

I am a Front End Developer ND grad. I have noticed within the javascript coding quizzes, my saved answers are not being displayed. I like to reflect on what my responses were for the quiz, so this is a suggestion for enhancement.

Digging around in a .json I can see that a quiz page object contains the data I am seeking.
Objects with quiz data seem to include a ke

[2018-11-14 21:41] udacimak commented on #6
Thanks @cfdesign !

I'm very happy to hear you find the app helpful!

Just to recap quickly, there are 6 types of quizzes in Udacity API data.
Almost all quiz types already have Udacity's solution provided, except for `ProgrammingQuestion`, which belongs to `QuizAtom`. For quiz types that already contain Udacity's solutions, I think it's agreeable that we don't need getting user's response from `u

[2018-11-15 09:46] #6 closed

[2018-11-15 10:01] udacimak commented on #6
I have added this optional feature in `v1.2.0` (just released). If you use the optional parameter `--userquizanswer`, it will show the user's code answer:

![2018-11-15 20_47_32-quiz atom example](https://user-images.githubusercontent.com/44603004/48544465-c006f080-e917-11e8-81e0-34b520e8c97e.png)

Enjoy!

[2018-11-15 10:58] cfdesign commented on #6
How dare you make this enhancement all before I can get the opportunity to get a reply in! 😂
You are an absolute legend! Yesterday I took some time to try and dissect all the intricate pieces of the app you have made, it's truly amazing! You certainly are very inspirational, I can only dream of being capable of such a large scale project.

Reading your initial response re: the additional insight i

[2018-11-16 06:52] jacky-ttt opened #7 "can't re-render"
I receive below error when I try to re-render a course using command `udacimak render "React v1.0.0"`.
[code]

I am on Window, using udacimak v1.2.0
The file `data.json` is indeed absent.

[2018-11-16 07:38] jacky-ttt commented on #7
since the `--targetdir` is optional, the downloaded and render content live in the same directory, "React v1.0.0". Does it mean that `--targetdir` should not be optional?

[2018-11-16 07:44] udacimak commented on #7
Yes `--targetdir` is optional. But we shouldn't put downloaded and rendered content in the same directory.

For example, I like to structure my content as such:

[code]

The downloaded and rendered folders must be separated.

[2018-11-16 07:58] jacky-ttt commented on #7
OK. I tried your directory structure. It does work.
But when I put like this:
[code]
The error will occur. Looks like it must follow your ideal directory structure; otherwise, it will fail.

[2018-11-16 08:00] udacimak commented on #7
You're right.
The structure of the downloaded JSON folder should not be modified because the `render` command blindly looks for `data.json` in every folder, it will throw the error if a folder doesn't contain `data.json`

[2018-11-16 08:14] jacky-ttt opened #8 "fail to retrieve "http://yaroslavvb.com/upload/notMNIST/nmn.png""
I encounter this error when udacimak tries to retrieve "http://yaroslavvb.com/upload/notMNIST/nmn.png". Maybe because it is not https?
[code]

[2018-11-16 08:17] udacimak commented on #8
Thanks for reporting.
`http` or `https` doesn't matter.
If possible, could you email me the JSON file to udacimak@tutanota.com so I can have a better look?

[2018-11-16 10:11] #8 closed

[2018-11-16 10:11] udacimak commented on #8
@jacky-ttt
I've fixed the issue according to here:
- https://github.com/request/request/issues/1777#issuecomment-152323328

Enjoy!

[2018-11-19 09:22] jacky-ttt opened #9 "Fail to install udacimake on MacOS"
It fails to run `sudo npm install -g udacimak` to install udacimak on MacOS. Below error occurs.
[code]
The error occurs at postinstall of youtube-dl.

I am running on
- Darwin 18.2.0 (Mojave v10.14.1)
- node v10.13.0
- npm  v6.4.1

[2018-11-19 09:30] udacimak commented on #9
Duplicate of #1

[2018-11-19 10:14] #9 closed

[2018-11-19 13:47] vivekvit opened #10 "\Data doesn't contain 'data.json' to start rendering the contents"
![download dand](https://user-images.githubusercontent.com/45172004/48710691-2f8a2200-ec2f-11e8-9634-a423a412f498.PNG)
![folder dand](https://user-images.githubusercontent.com/45172004/48710795-7d068f00-ec2f-11e8-820e-2c55085e52af.PNG)

I'm unable to start rendering of JSON files - everytime it show these 2 errors - either the path doesn't exist or it is unable to find the file in it.

Is it somet

[2018-11-19 21:51] udacimak commented on #10
Hi @vivekvit

This is not an issue. It's just how we need to escape white space characters.
When using Windows, you need to wrap the path that contains space characters with double-quotes. For example:

[code]

[2018-11-19 21:51] #10 closed

[2018-11-20 08:28] gamingneeds opened #11 "Error when trying to install using npm"
I'm receiving this error:

PS C:\> npm install -g udacimak
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR! undefined ls-remote -h -t ssh://git@github.com/przemyslawpluta/node-youtube-dl.git
npm ERR!
npm ERR! undefined
npm ERR! No git binary found in $PATH
npm ERR!
npm ERR! Failed using git.
npm ERR! Please check if you have git installed and in your PATH.

[2018-11-20 08:30] udacimak commented on #11
I think you need to install `git` on your machine.

Please try and let me know if it works. I will update the `README` for a future release regarding `git` requirement.

[2018-11-20 21:33] #11 closed

[2018-11-21 06:08] gamingneeds opened #12 "Correct Path"
This is just a n00b question but I'm trying to render...

I'm putting "udacimak render _json/Front-End \Web \Developer \Nanodegree \v8.0.0" and it's giving me an error, I'm guessing because I'm not writing the file path correctly.

If someone would be so kind as to help me write the correct path, I'd be most greatful.

Thanks. :/

[2018-11-21 06:17] udacimak commented on #12
Hi @gamingneeds

Are you on Windows?

Please try:

[code]

Notice how because the path contains white space characters, I've put the path in double-quotes to escape those white spaces.

[2018-11-23 05:58] gamingneeds commented on #12
The response was:

`PS C:\WINDOWS\system32> udacimak render "_json/Front-End Web Developer Nanodegree v8.0.0"
2018-11-23T05:57:27.766Z [error]: ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse (C:\Users\DGNT\AppData\Roaming\npm\node_modules\udacimak\lib\commands\render\functions\renderCo

[2018-11-23 05:59] gamingneeds commented on #12
The Response was:

`PS C:\WINDOWS\system32> udacimak render "_json/Front-End Web Developer Nanodegree v8.0.0"
2018-11-23T05:57:27.766Z [error]: ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse (C:\Users\****\AppData\Roaming\npm\node_modules\udacimak\lib\commands\render\functions\renderCo

[2018-11-23 06:01] udacimak commented on #12
Hi @gamingneeds

I was assuming that your terminal working directory is the directory that contains the `_json/Front-End Web Developer Nanodegree v8.0.0` folder.

The working directory you had was `C:\WINDOWS\system32>`, so it is not working because there are no `_json/Front-End Web Developer Nanodegree v8.0.0` folders there.

You need to point the terminal to the folder containing the `_json` fol

[2018-11-23 06:01] gamingneeds commented on #12
I was using "_json" as I saw it in the example. As soon as I removed that used quotes, it rendered properly.

[2018-11-23 06:32] gamingneeds commented on #12
I tried that and I receive this:

`PS C:\WINDOWS\system32> udacimak render "Front-End Web Developer Nanodegree v8.0.0"
2018-11-23T06:30:47.842Z [info]: Image already exists. Skip downloading C:\WINDOWS\system32\Front-End Web Developer Nanodegree v8.0.0\img\front-end-large.jpg
2018-11-23T06:30:47.864Z [info]: Completed rendering Nanodegree summary file C:\WINDOWS\system32\Front-End Web Developer Na

[2018-11-23 06:34] gamingneeds commented on #12
It's definitely not completed as most of the links I'm clicking in the index.html are going to File Not Found pages.

[2018-11-23 23:14] udacimak commented on #12
Basically, we should not modify the downloaded folder. After downloading, we should render it in a different target folder.

If you have rendered before, you can re-render it. I don't think you have messed up the render data. But you can delete it and render again if wanted.

[2018-11-25 12:15] TasneemOmara commented on #1
I had the same problem, installed node and npm through nvm, tried to install different versions of node and npm, the problem is still there with the same error

[2018-11-25 12:17] udacimak commented on #1
@TasneemOmara  Please copy the error log to your message

[2018-11-25 12:19] TasneemOmara commented on #1
/home/tsneemomara/.nvm/versions/node/v11.2.0/bin/udacimak -> /home/tsneemomara/.nvm/versions/node/v11.2.0/lib/node_modules/udacimak/lib/index.js

/home/tsneemomara/.nvm/versions/node/v11.2.0/lib/node_modules/udacimak/node_modules/mkdirp/index.js:90
                    throw err0;
                    ^

Error: EACCES: permission denied, mkdir '/home/tsneemomara/.nvm/versions/node/v11.2.0/lib/node_m

[2018-11-25 18:42] TasneemOmara commented on #1
It works! Thank you

[2018-11-28 08:41] #7 closed

[2018-11-29 15:42] AnkS4 commented on #1
Installation via yarn is working, but not directly by npm.

[Log Here](https://gist.github.com/AnkS4/8641b300ed525b7c671a115ab3e9fbe3)

[2018-11-30 10:50] udacimak commented on #1
@AnkS4 Thanks for the log! This is an issue with `node-youtube-dl` package and I'm not planning to produce a fix for now.

[2018-12-01 00:03] MohammedElsayedAhmed commented on #1
I have a pretty similar error, i have installed node and npm through nvm and also installed git. the problem is when i use  " npm install -g udacimak " command it gives me this error

npm ERR! Linux 4.15.0-39-generic
npm ERR! argv "/home/mohammed/.nvm/v0.10.48/bin/node" "/home/mohammed/.nvm/v0.10.48/bin/npm" "install" "-g" "udacimak"
npm ERR! node v0.10.48
npm ERR! npm  v2.15.1
npm ERR! code ELIFE

[2018-12-26 07:14] adarshaU commented on #1
This works for me.
sudo npm install -g udacimak --unsafe-perm=true --allow-root

[2019-01-10 06:41] mikeattara commented on #10
I am still facing the same issue. What can I do to rerender?

[2019-01-10 06:45] mikeattara commented on #10
I am still facing the same issue. What can I do to re-render?

[2019-01-10 11:27] jrao1 opened #15 "Next button"
Sorry, not sure if I'm using this correctly but after I rendered a course (cs373), and start the index.html to look at each lesson, I can choose which part of the lesson by using the left panel which lists 01, 02, etc. But once I'm in a part, there's no "Next" button to go to the next section of the lesson?

<img width="941" alt="udacimak" src="https://user-images.githubusercontent.com/1448278/509

[2019-01-10 11:30] udacimak commented on #15
@jrao1 I didn't design the __Next__ button, so the only option is to find the next lesson from the side menu to go to that lesson.

[2019-01-10 11:33] brtn86 commented on #1
Hi, unfortunately I run into errors with both installation approaches mentioned here:

yarn global add udacimak
==>
yarn global v1.13.0
[1/4] Resolving packages...
? youtube-dl@github:przemyslawpluta/node-youtube-dl#3349cbb6e067b6c9e7605acfa4f9
warning udacimak > npm > npm-registry-fetch@1.1.1: this version has a breaking c
hange. use 1.1.0 or upgrade to latest
warning udacimak > npm > npm-registr

[2019-01-10 11:34] udacimak commented on #10
@mikeattara please include enough information and log so I can help.

[2019-01-10 11:37] brtn86 opened #16 "Installation issues"
Hi, first of all thanks for building this! Unfortunately I'm running into errors upon installation. I tried both approaches mentioned in issue #1, however, I get the following results for both:

[code]

Any ideas? Thanks.

[2019-01-10 11:47] udacimak commented on #16
Hi @brtn86
Does `npm i -g udacimak` fail, too?

If not, I'd recommend trying using the Docker container (see [README](https://github.com/udacimak/udacimak#use-udacimak-via-docker-container))

[2019-01-10 11:51] mikeattara commented on #10
I have realized that the `-t` is necessary for it to be able to rerender. I wish to suggest making it require than optional. That will solve this issue IMO

[2019-01-10 11:54] udacimak commented on #10
Hi @mikeattara
`-t` is designed to be optional so that we can point the working directory of the terminal to the location where we want the rendered content to be. If the command fails you may want to check where's the working directory of the terminal is then `cd` (change directory) to the right place.

[2019-01-10 11:59] mikeattara commented on #10
When I left out the `-t` flag, It was rendering to the same folder, hence causing the problem. Maybe you may consider setting the `-t` flag to `./Udacity` by default

[2019-01-10 12:02] udacimak commented on #10
@mikeattara
I think that's because the working dir of your terminal is the same location where the downloaded folder is located, hence the error. Udacimak requires downloaded content to be rendered in a different location. See more [here](https://github.com/udacimak/udacimak/blob/master/README.MD#important-render-directory-note)

[2019-01-10 12:03] brtn86 commented on #16
Yes, unfortunately that also fails (see below). Ok, will try the docker approach. Thanks.

npm i -g udacimak

npm ERR! Error while executing:
npm ERR! C:\Program Files (x86)\Git\cmd\git.EXE ls-remote -h -t ssh://git@github
.com/przemyslawpluta/node-youtube-dl.git
npm ERR!
npm ERR! Permission denied (publickey).
npm ERR! fatal: Could not read from remote repository.
npm ERR!
npm ERR! Please make su

[2019-01-10 12:04] mikeattara commented on #10
Thanks

[2019-01-10 12:41] brtn86 commented on #16
Unfortunately I have no previous experience with docker. If I run for example `docker container run -it -v "$(pwd)/:/downloads" udacimak/udacimak --help` I get:
[code]
So I'm not sure what to make of that and if possible would prefer going back to npm. I tried installing node-youtube-dl manually (via npm), but that didn't help either.

[2019-01-11 01:39] udacimak commented on #16
I'd suggest trying on another computer to see if it works?
Unfortunately, this issue is related to `node-youtube-dl` package and I'm not sure how to tackle it yet.

[2019-01-15 06:48] udacimak commented on #15
@jrao1
I haven't got time to work on this yet but will consider for the next release

[2019-01-15 06:48] #16 closed

[2019-01-17 23:06] AlainOUYANG opened #17 "An invalid URI problem while rendering"
I received such problem while rendering, that the program keeps trying to download one gif file but got an "invalid URI" error, so it stays at the download status :
[code]
I am using macOS and trying to download my materials which are in Chinese.
Other contents before were well downloaded but it stops at this gif file and keeps trying.

[2019-01-17 23:09] udacimak commented on #17
@AlainOUYANG
The JSON data is sometimes very "dirty" as it can contain invalid syntax, invalid URL address.
One way to fix this is to check the URL of the image in the relevant `data.json` file and manually change it to be a correct URL.
If you don't know how to do this, please send your downloaded JSON files to udacimak@tutanota.com and I will be able to help 👍

[2019-01-18 00:45] AlainOUYANG commented on #17
Yeah, it works! Thanks for your reply!
I really appreciate that and will recommend this awesome tool to my Chinese classmates cos we are informed yesterday that the term has changed.
Btw, the Chinese Udacity Team announced that they will provide a tool for downloading the course "on one click", but didn't mention whether it will be only the videos or all other materials as well.

[2019-01-20 13:14] jrao1 commented on #15
I took a shot at implementing this, here's the patch. I also added the feature to auto scroll to first video, auto play video, and auto scroll for the sidebar.

[patch.txt](https://github.com/udacimak/udacimak/files/2776611/patch.txt)

[2019-01-21 06:30] udacimak commented on #15
Thanks, @jrao1

Could you please submit a pull request? I'm not able to check from the git diff content.

[2019-01-22 12:28] Needrom opened #18 "failed to install on Macos :no such file or directory"
**failed to install on macos**
npm ERR! path /usr/local/lib/node_modules/udacimak/lib/index.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/usr/local/lib/node_modules/udacimak/lib/index.js'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be foun

[2019-01-22 12:53] Needrom commented on #18
from this ```npm install -g udacimak```

[2019-01-22 13:13] Needrom commented on #18
I use ```npm install -g udacimak```
I try nvm but I don't knows how to use it exactly. I try ```nvm install udacimak``` to instead npm.

[2019-01-23 06:26] #18 closed, assigned to nobody

[2019-01-24 09:40] Needrom opened #19 "render command failed"
**failed with render**
render command failed while getting youtube video id xxx information

[code]

with command ```udacimak render path -t path2```
udacimak version:1.2.2

[2019-01-24 12:16] jrao1 commented on #15
Ok, pull request submitted.

[2019-01-25 05:11] #19 closed

[2019-01-25 05:15] udacimak commented on #15
Thanks, @jrao1 !
I'm quiet busy at the moment but will have a look as soon as I can.

[2019-01-25 19:07] heysachin opened #21 "`Supporting Materials` Links not updated on the rendered files"
**Describe the bug**
None of the extra materials (Supporting Materials) links provided by Udacity on the bottom of the course pages are not updated on the rendered pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Nanodegree
2. Click on Any Module and any page
3. Scroll down to the bottom
4. The Supporting Material links as found on the nanodegree page are not found.
5. _(Add

[2019-01-25 21:58] udacimak commented on #21
Hi @heysachin,

Could you please send me the `data.json` file to udacimak@tutanota.com ?

[2019-01-27 12:19] #15 closed

[2019-02-04 09:16] udacimak commented on #21
@heysachin
Looks like I overlooked the resource files in JSON data when developing, so I'll need to add a new feature to download them.
I'll consider this and have a go when I have time and will release this with the next version.

[2019-02-18 08:15] Iijingxin opened #22 "where is the path in render command?"
Where can i find the downloaded JSON?

[2019-02-18 12:08] #22 closed

[2019-02-18 12:14] Iijingxin commented on #19
请问这个是怎么解决的？

[2019-02-18 12:30] Iijingxin commented on #19
udacimak render path -t path2 改个路径还是不可以呢，youtube视频那里就卡住了

[2019-02-27 19:16] navidsafaeian opened #23 "Rendering ERROR: socket hang up"
I got  "ERROR: socket hang up" while rendering the Json file. I've tried rendering from scratch several times, but still received the same error, each time at a different video. You can see the error sample as follows:

✖ Getting Youtube video id 1bq6c44nQnU information
2019-02-27T18:49:41.287Z [error]: ERROR: socket hang up
CODE: ECONNRESET
STACK: Error: socket hang up
    at createHangUpError (_

[2019-02-28 20:45] udacimak commented on #23
Hi @navidsafaeian

This is a network issue and I'm not able to debug.
Have you tried on a different network to see if the CLI can run?

[2019-02-28 21:09] navidsafaeian commented on #23
Thank you. Finally I coud render all courses after about 20 times errors
and stops.
Many thanks for the downloader package by which I can easily have all my
nanodegree for ever without any missing courses and lecture video.
Regards
Navid

On Thu, Feb 28, 2019, 2:45 PM udacimak <notifications@github.com wrote:

[2019-02-28 21:31] #23 closed

[2019-03-01 15:54] jaideepheer opened #24 "Certificate has expired"
**Describe the bug**
During rendering, I get a certificate expired error for [this](https://www.youtube.com/watch?v=HrYNL_1SV2Y) youtube video.
If I change the `data.json` for this lesson to exclude this `VideoAtom` object then it works fine. It can
 download all other videos.

**Udacimak Log**

2019-03-01T15:44:14.052Z [error]: ERROR: certificate has expired
CODE: CERT_HAS_EXPIRED
STACK: Error: c

[2019-03-02 20:56] oba2311 commented on #1
`npm update -g udacimak` and then install solved it for me. G'luck!

[2019-03-02 20:58] udacimak commented on #24
@jaideepheer Could you please email the JSON data to udacimak@tutanota.com so I can inspect the issue?

[2019-03-02 22:54] jaideepheer commented on #24
I have sent the email.

[2019-03-03 02:02] udacimak commented on #24
@jaideepheer I was able to complete the render without problems.
Could you try rendering on a different computer/network?

[2019-03-03 14:35] tim11235 opened #25 "I can't get any farther from udacimak settoken YOUR_UDACITY_AUTH_TOKEN"
I can't get any farther when I try to set the token the say command not found but when i start it with sudo I get this

internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at validateString (internal/validators.js:125:11)
    at Object.dirname (path.js:

[2019-03-04 00:11] udacimak commented on #25
Please paste the full command that you typed so I can have a look. Thanks.

[2019-03-04 00:15] tim11235 commented on #25
Tims-MacBook-Pro:~ timikuzwe$ udacimak settoken YOUR_UDACITY_AUTH_TOKEN
internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at validateString (internal/validators.js:125:11)
    at Object.dirname (path.js:1260:5)
    at Object.<anonymous> (/Users/timiku

[2019-03-04 00:16] udacimak commented on #25
You need to replace `YOUR_UDACITY_AUTH_TOKEN` with your own JWT token. Please check README on how to get that JWT token from browser cookie.

[2019-03-04 00:18] tim11235 commented on #25
Tims-MacBook-Pro:~ timikuzwe$ udacimak settoken eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTM2NDk4OTEsImlhdCI6MTU1MTA1Nzg5MSwia2lkIjoibW1yZDQ5ZjJ5IiwidWlkIjoiMTA1OTkyMzg5NzAiLCJyb2xlcyI6WyJ1c2VyIl19.IKrNQQYnes-58c2tgze97wLc_lO4oePu61ZdmVAC8wc8BoG8EWaYHOBfALhV2eB345ZwiR4eJ8TcYcaSTDTKzZPOtc0DSrN402Z1H-HZ8Bxnoeru_glO2ifK7BnNENECCDX9ReJ7q8eghbfpjlDmREIEhMzSZrXyxxqbdYWRVMVQEBDlCwBcm4ETCKpJ1tyfT0

[2019-03-04 00:21] udacimak commented on #25
Thanks. There's something wrong with the token string Could you check if there are any accidental spaces in the token when you put in the terminal?

[2019-03-04 00:23] tim11235 commented on #25
let me check but I don't think so

[2019-03-04 00:24] udacimak commented on #25
Sure, I'm not on Mac so I can't check how it behaves in the terminal.

[2019-03-04 00:28] tim11235 commented on #25
eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTM2NDk4OTEsImlhdCI6MTU1MTA1Nzg5MSwia2lkIjoibW1yZDQ5ZjJ5IiwidWlkIjoiMTA1OTkyMzg5NzAiLCJyb2xlcyI6WyJ1c2VyIl19.IKrNQQYnes-58c2tgze97wLc_lO4oePu61ZdmVAC8wc8BoG8EWaYHOBfALhV2eB345ZwiR4eJ8TcYcaSTDTKzZPOtc0DSrN402Z1H-HZ8Bxnoeru_glO2ifK7BnNENECCDX9ReJ7q8eghbfpjlDmREIEhMzSZrXyxxqbdYWRVMVQEBDlCwBcm4ETCKpJ1tyfT0j-ezm1uW7VMv_ccwSSp1JIOTiLNrRfR-Fu6FSH-WtLpextHZ

[2019-03-04 00:29] tim11235 commented on #25
I used the script to copy it

[2019-03-04 00:30] udacimak commented on #25
I can set the token successfully.  Is it possible if you try a different terminal?

[2019-03-04 06:34] jaideepheer commented on #24
I don't know what happened but the issue is now fixed.

Thank you. 😅

[2019-03-04 06:34] #24 closed

[2019-03-09 16:43] heysachin opened #26 "uncaughtException: Unexpected token < in JSON at position 0"
**Describe the bug**
uncaughtException: Unexpected token < in JSON at position 0 when downloading JSON files of self driving car nanodegree

**To Reproduce**
Steps to reproduce the behavior:
udacimak download nd013 on the terminal

**Expected behavior**
Download the JSON files ready for rendering

[code]

**Desktop (please complete the following information):**
 - OS:  Ubuntu 18.10
 - Node version

[2019-03-10 13:01] changyuji opened #27 "ERROR：connect ETIMEOUT 52.216.84.19:443"
CODE：ETIMEOUT
STACK：Error： connect ETIMEOUT 52.216.84.19:443
at TcpConnectWrap.afterConnect [as onComplete] (net.js:1097:14)

when i try to render the course deep learning with cmd after a proxy in china , it report the above error
i am using
windows 8.1
udacimak 1.3.0 lastest version
npm 6.4.1
node 10.15.3

[2019-03-10 13:02] changyuji commented on #27
any one can help me

[2019-03-10 19:00] heysachin commented on #26
The Website Content was down and hence wasn't able to download the JSON content. working perfectly now.

[2019-03-10 19:00] #26 closed

[2019-03-10 20:55] udacimak commented on #27
@changyuji
Do you have the full error stack log?

Are you using a CDN?

[2019-03-11 04:16] changyuji commented on #27
C:\Users\johm>udacimak render A --verbose
2019-03-11T04:06:52.271Z [info]: Completed rendering lesson summary file C:\User
s\johm\A\Lesson 01_Introduction and Xcode\index.html
2019-03-11T04:06:52.280Z [info]: ____________________

\ Getting Youtube video id nsKJe2cfYns information
[debug] System config: []
[debug] User config: []
[debug] Custom config: []
[debug] Command-line args: ['--dump-json',

[2019-03-11 04:20] changyuji commented on #27
/******************************error from udacimak.error*****************************/

2019-03-11T04:07:44.659Z [[31merror[39m]: ERROR: connect ETIMEDOUT 174.36.196.242:443
CODE: ETIMEDOUT
STACK: Error: connect ETIMEDOUT 174.36.196.242:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1097:14)

/******************below come from udacimak.info

2019-03-11T04:04:58.794Z [[32minfo[3

[2019-03-11 04:24] changyuji commented on #27
i am using shadowsocks proxy ,i live in china

[2019-03-11 06:54] udacimak commented on #27
Can you try a different CDN?
This is a network connection issue so I can't fix it by updating udacimak.

[2019-03-11 07:04] changyuji commented on #27
i think the problem is it has no way to use the proxy of the system, and the problem will disappear when using a vpn, could you please add a feature to let the program can use my system proxy

[2019-03-13 02:16] as2leung opened #28 "Error Status Code 500 - Unsure how to troubleshoot (skip or re-try)"
**Describe the bug**
Hi,

I am getting this "Error" status code 500, which I don't see any additional information about. This causes the rendering process to stop, and therefore, I am not sure what the best way is to try again from that point onward or how I can skip the file. I have been able to render Parts 1 to 8 of the course without problem so far. Thanks in advance.

**Udacimak Log**

× Gett

[2019-03-13 02:19] udacimak commented on #27
@changyuji
I'm not sure how to achieve that yet and will not likely adding that feature in future updates.

[2019-03-13 02:21] udacimak commented on #28
It's just some connection issue with the Youtube video.
You can run the same render command again, it'll automatically skip downloaded contents and will only download files that are not downloaded yet.

[2019-03-13 02:27] as2leung commented on #28
Thank you! As a follow-up, I tried to render just that specific module and I got the following error:

C:\Users\Andrew Leung\Data Analyst Nanodegree v7.0.0\Part 09_Data Story Telling\Module 01_Data Viz Lessons 2>udacimak render "Lesson 01_Introduction to Data Visualization"
2019-03-13T02:19:37.196Z [error]: TYPEERROR: Cannot read property 'lessons' of undefined
STACK: TypeError: Cannot read proper

[2019-03-13 02:29] udacimak commented on #28
No worries. Yes, you should run the overall command. The parameter passed to `render` command must be the Nanodegree folder (not the lesson or anything else) - so basically just run it the same as when you run it the first time.

[2019-03-13 02:39] as2leung commented on #28
That's great to know. I do however run into this error of a missing file when I try to run it again. I don't believe that I've altered any of the files in any way. Any insight would help. Thank you.

C:\Users\Andrew Leung>udacimak render "Data Analyst Nanodegree v7.0.0"
2019-03-13T02:31:32.843Z [info]: Image already exists. Skip downloading C:\Users\Andrew Leung\Data Analyst Nanodegree v7.0.0\img\

[2019-03-13 02:43] udacimak commented on #28
Hi,

That's because you're rendering into the folder that contains all JSON data files.
So now you should:
- Download the Nanodegree again.
- `cd` into a different directory, then render that downloaded folder.

The _rendered_ content must be separated from the _downloaded_ content.

[2019-03-13 03:06] as2leung commented on #28
That makes sense, I will definitely keep them separate now. At this point, I'm just getting the  "Error" status code 500 while trying to render to the new folder following the Nanodegree download. To confirm, I'm guessing I should just wait until later to try running it again? Thanks again for all the help, and for creating such an awesome CLI!

[2019-03-13 03:07] udacimak commented on #28
Thanks!

I'm not sure what's causing the 500 code error, but waiting a bit later may help.

[2019-03-13 04:12] #27 closed

[2019-03-22 15:13] davidmokos opened #29 "Error at the end of rendering"
version: v1.3.0

[code]

[2019-03-24 05:13] udacimak commented on #29
Please read this README section:
- https://github.com/udacimak/udacimak#important-render-directory-note

I think you were rendering into the downloaded folder, hence the error. We should render into a completely different location instead.

[2019-03-30 22:34] #29 closed

[2019-03-30 22:34] #28 closed

[2019-03-30 22:34] #25 closed

[2019-04-08 03:55] qiweiyang2018 opened #30 "You are a SUPERHERO! (Actually this is not an issue)"
Hello,

You save my day! Before I had to manually save every single page all by myself, which makes me want to kill myself.

I am C++ user and do not know Javascript much, however from your project I start realizing how powerful JS is in the domain of the web. I'd like to learn JS from your source codes. Could you shed light in how to read/learn your codes?

Thanks a lot!

[2019-04-08 22:31] udacimak commented on #30
Thanks @qiweiyang2018 😄

Taking Udacity front end degree would definitely an option. I guess if you read the code you can read from top file down, it'll be easy to understand. Notes the packages I use in the `webpack` files since I use quite some libraries.

Have fun and happy to hear that you find the CLI helpful!

[2019-04-12 16:46] banpie commented on #27
你是通过ss走全局代理来实现的吗？我也是出现了time out的情况。

[2019-04-14 23:04] #30 closed

[2019-04-19 15:21] Sal7one opened #31 "Not working for nano degree?"
Hi so i just installed and tried to download nd801 <-- Android developer, as it says in the classroom link, + their search engine.

the tool didn't work, and i tried it on a free course,, CS101 worked without a problem.

Error:

2019-04-19T15:18:33.483Z [info]: Start downloading Nanodegree nd801 from Udacity API

× Get Nanodegree nd801 information
× Get Nanodegree nd801 information

2019-04-19T15:

[2019-04-19 15:28] Sal7one commented on #31
Weirdly enough  adding -connect worked

so my URL is

https://classroom.udacity.com/nanodegrees/nd801-connect

And the download command that worked is

udacimak download nd801-connect

gg i love your tool

[2019-04-19 15:28] #31 closed

[2019-04-21 13:34] tigerjoy opened #32 "Incorrectly generated index.html page"
The links to folders having "&" in their name, are not generated correctly. Say, the name of the folder is "Part 03-Module 01-Lesson 03_Arrays, Lists, Loops, & Custom Classes", then the corresponding HTML code generated for it is

` <a href="Part 03-Module 01-Lesson 03_Arrays, Lists, Loops,  Custom Classes/index.html">`

where as it should have been

` <a href="Part 03-Module 01-Lesson 03_Arrays,

[2019-04-27 10:37] TheBaby5 opened #33 "render command failed"
This is what the error m getting over and over again, it was working fine 3 days back, but now it seems to need an asap update! Udacity changed!

NOTE: I've also updated the youtube-dl to latest version, but it didn't worked!

![image](https://user-images.githubusercontent.com/44883516/56848283-ac1edc00-6904-11e9-8153-91c834de3890.png)

[2019-04-28 03:38] emmjaykay commented on #33
I believe I have a solution. If you do a

`locate youtube-dl | grep bin`

You may find that there are separate youtube-dl installations. I had a full *three* separate installs somehow. One of them is the one that comes with udacimak.

To get it to run, do something like this

`~/.npm-packages/lib/node_modules/udacimak/node_modules/youtube-dl/bin/youtube-dl -U
`

You should see an update about the

[2019-04-28 12:48] udacimak commented on #32
@tigerjoy I will fix this in a future release.

[2019-04-28 13:10] #33 closed

[2019-04-28 13:10] udacimak commented on #33
@TheBaby5 I've released `v1.4.0` that fixes this issue.

[2019-04-28 20:00] nikhildutta333 opened #34 "error in assets/css"
I m really not sure why the error:enoent is occurring, so i was trying to download the nanodegree course and after the process was going smoothly for some time i suddenly got an error saying  no such file or directory, open 'Machine Learning Engineer Nanodegree v2.0.0/assets/css/fonts/data.json'

I don't know why there is a requirement for data.json in the in assets/css/fonts .to make sure there i

[2019-04-29 08:18] udacimak commented on #34
Please refer to this section of the `README`:
- https://github.com/udacimak/udacimak#important-render-directory-note

[2019-04-29 08:18] #34 closed

[2019-05-01 14:59] willgiton commented on #27
@banpie @changyuji 你们解决了么？

[2019-05-01 20:23] changyuji commented on #27
没下到一半出这个错误后面再也无法继续了重新render也没有用

发自我的iPhone

------------------ Original ------------------
From: willgiton <notifications@github.com>
Date: Wed,May 1,2019 10:59 PM
To: udacimak/udacimak <udacimak@noreply.github.com>
Cc: changyuji <705883843@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [udacimak/udacimak] ERROR：connect ETIMEOUT 52.216.84.19:443 (#27)

@banpie @changyuji 你们解决了么？

—
Yo

[2019-05-02 12:44] TheBaby5 commented on #33
**Thank you so much, it's working fine now after new update! <3**

[2019-05-02 13:00] TheBaby5 opened #35 "Render ERROR: connect ETIMEDOUT"
**I've got the latest** `udacimak v1.4.0` **But still facing the ERROR: connect ETIMEDOUT while rendering the downloaded jason, please look into this...**

![image](https://user-images.githubusercontent.com/44883516/57076554-8e3be780-6d07-11e9-9220-a6a5aa6ed67d.png)

Copy-Paste of the error!

[2019-05-02 13:02] udacimak commented on #35
Could you please email the json file to udacimak@tutanota.com ? I will have a closer look when I have time.

[2019-05-02 13:08] TheBaby5 commented on #35
Done, please check your Inbox or Spam folder for the jason attached mail!

[2019-05-02 13:27] udacimak commented on #35
Thanks, I'm experiencing the same issue. Will try to fix over the weekend.

If you want to manually fix the issue now, follow these steps:
- Open `data.json` file in `Part 09_Segmentation and Clustering/Module 03_Capstone Project/Lesson 01_Combining Predictive Techniques`
- Find the line that contains `http://www.freakingnews.com/pictures/115500/Man-Climbing-Up-in-Grocery-Store--115680.jpg`
- Repl

[2019-05-02 13:35] TheBaby5 commented on #35
Np, we'll wait! Can you resend me the updated jason file? Please that would be a great help!

[2019-05-02 13:47] TheBaby5 commented on #35
**Thank you, it's working fine now!**

[2019-05-08 14:27] emilylauyw opened #36 "Failed to download course: Cannot destructure property `lessons` of 'undefined' or 'null'."
Thank you so much for sharing this! I am facing some issues with it, appreciate if you could advise how can I fix it.

**Describe the bug**
Received error message when trying to perform download and render

Error message when trying to download:
![01-1](https://user-images.githubusercontent.com/37318434/57383199-f182b980-71e0-11e9-8c8e-5f9d33ea6dfa.png)
![01-2](https://user-images.githubuserconten

[2019-05-09 06:12] udacimak commented on #36
@emilylauyw

### Download
Please let me know which course are you downloading that's throwing the error?

### Render
The path is not typed correctly, hence the error. Could you try:

[code]

[2019-05-09 11:50] emilylauyw commented on #36
Hi @udacimak,

**Download**
I had the same error while trying to download from the following Nanodegree:
- Data Foundations
- Business Analyst
- Data Analyst Nanodegree

**Render**
Had tried the suggested path but still receiving error. Could it be because of the error msg I received when I run the download?
![image](https://user-images.githubusercontent.com/37318434/57451380-a4abeb00-7293-11e9-91

[2019-05-09 11:59] udacimak commented on #36
### Download

Are there any Nanodegrees that you are able to download?
BTW, it's working on my end.

### Render

As long as you have downloaded the Nanodegree successfully, we can render.

Another way you can try is to rename the downloaded folder to NOT contain any spaces then re-run the `render` command without using double-quotes, eg:

[code]

[2019-05-09 12:08] emilylauyw commented on #36
**Download**
There are files downloaded even thou it had the error msg.
![01](https://user-images.githubusercontent.com/37318434/57452179-c908c700-7295-11e9-9163-f8e5859514dc.png)
![02](https://user-images.githubusercontent.com/37318434/57452184-ca39f400-7295-11e9-9550-bb9c62d5f398.png)

**Render**
Had tried rename but still having the same issue.
![image](https://user-images.githubusercontent.com

[2019-05-09 12:16] udacimak commented on #36
I think there should not be an issue with `udacimak`.

Sorry, I'm not sure how to help. Could you try doing those again in a different folder path or computer?

[2019-05-12 13:01] emilylauyw commented on #36
No worries, I will try doing it on another computer. Thanks.

[2019-05-12 13:06] udacimak commented on #36
@emilylauyw Let me know how you go. If the problem persists and you find new causes to help us debug, please re-open this issue.

[2019-05-12 13:06] #36 closed

[2019-05-17 15:08] sstihler opened #37 "Render error: CODE: ERR_INVALID_ARG_TYPE"
**Describe the bug**
I am using `udacimak 1.4.0` and getting the following error.

[code]
**Desktop (please complete the following information):**
 - OS: Windows
 - Node version: `v10.15.3`
 - npm version: `6.4.1`
 - Udacimak Version: `v1.4.0`

**Course Information**
 - Nanodegree or Course name: Fundamentos Web Front-End nd-041
 - Version: v2.0.0
 - Locale: pt-br

[2019-05-17 23:30] udacimak commented on #37
@sstihler
Please provide the command that you wrote in the terminal that throws the error.
It looks like the error was due to an invalid command.

[2019-05-19 03:35] thisisamank opened #38 "Video feature"
Hi, i have a request for a feature that can significantly decrease the size of course downloaded. Since udacity uses youtube for their video so while downloading video through udacimak, instead of downloading the video can you add the youtube link and your video player will render the youtube video?

[2019-05-21 10:14] syedtocode opened #39 "Unexpected Token error"
Installed and ran the following which throws an runtime error saying unexpected token. Unable to execute any command as all of them resulted in the same error.

/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/lib/youtube-dl.js:52
  execFile(ytdlBinary, args, { ...execFileOpts, ...options }, function done(err, stdout, stderr) {
                               ^^^
SyntaxError: Unexpected

[2019-05-21 10:55] #37 closed

[2019-05-21 11:22] udacimak commented on #38
Hi @thisisamank . I didn't consider this feature because I want the content to be completely usable offline.
Thanks for the suggestion but I don't have a plan to implement it.

[2019-05-21 11:22] #38 closed

[2019-05-21 11:23] udacimak commented on #39
Hi @syedtocode .

How did you install `udacimak`?

[2019-05-22 21:06] seanlee15 opened #40 "ERROR: status code 500"
**Describe the bug**
Ran into error when rendering the course content. Should I be concerned about this situation, or just wait for a while.

 npm version: 6.9.0
Udacimak: 1.4.0
MacOs 10.14
Course to be downloaded: nt880 AI for trading

Error log

✖ Getting Youtube video id CQ6QGAxbUF8 information
2019-05-22T21:01:08.541Z [error]: ERROR: status code 500
STACK: Error: status code 500
    at Request

[2019-05-23 12:45] udacimak commented on #40
Could you try again? If it doesn't work, please send the JSON data to udacimak@tutanota.com , I can have a look. Thanks

[2019-05-27 11:28] GitEasonXu opened #41 "ERROR: Unable to download webpage: <urlopen error [WinError 10060]"
**Describe the bug**
`ERROR: Unable to download webpage: <urlopen error [WinError 10060]`,When I runned `udacimak render "Self-Driving Car Engineer v1.0.0"`

**To Reproduce**
Steps to reproduce the behavior:
1. Install udacimak is ok
2. Download json is ok
3. Using `udacimak render "Self-Driving Car Engineer v1.0.0` to render downloaded JSON
4. See error
5. _(Add more or edit as appropriate)_

**U

[2019-05-27 11:45] udacimak commented on #41
@GitEasonXu Could you try it over a VPN?
You can also email me the JSON data to udacimak@tutanota.com , see if I face the same issue on my end.

[2019-05-27 13:41] GitEasonXu commented on #41
@udacimak I have sent `data.json` to your email. Yes, I have used VPN.
Thank you!

[2019-05-27 14:17] sstihler commented on #37
The error is occurring at the time of rendering the course.
To download I have used: `udacimak download nd041`
There was no mistake.
To render I used: `udacimak render "Fundamentos Web Front-End v2.0.0"`
When it arrives in the folder
`Fundamentos Web Front-End v2.0.0\Part 02-Module 01-Lesson 02_Lab - Sintaxe de HTML\08. Construindo links.html`
the error happens.

[2019-05-28 03:54] GitEasonXu commented on #41
I retry again today, but get such error:
[code]

[2019-05-28 11:44] udacimak commented on #41
@GitEasonXu I'm able to render your JSON data.

I'm pretty sure that it must be some issue with the internet connection. Could you try on a different network?

[2019-05-28 11:45] #40 closed

[2019-05-28 11:51] #39 closed

[2019-05-29 13:43] syedtocode commented on #39
My sincere apologies as I somehow missed your email. I have installed udacimak as per your instruction on github.

i.e.

npm install -g udacimak

Many thanks for helping me.

[2019-05-29 13:47] syedtocode commented on #39
I tried to install/update again but no luck as I see the same error repeating.

Syeds-MBP-2:blog1 syedzulfiqar$ npm install -g udacimak
/usr/local/bin/udacimak -> /usr/local/lib/node_modules/udacimak/lib/index.js
/usr/local/lib
└─┬ udacimak@1.4.0
  ├─┬ cheerio@1.0.0-rc.3
  │ └─┬ parse5@3.0.3
  │   └── @types/node@12.0.3
  ├─┬ handlebars@4.1.2
  │ └── uglify-js@3.5.15
  ├─┬ request@2.88.0
  │ └─┬ t

[2019-05-30 10:27] sandu-ns opened #42 "error while installing udacimak in windows"
![image](https://user-images.githubusercontent.com/26809134/58626779-36d36c00-82f3-11e9-8ebf-e4b11f57d31b.png)

[2019-05-30 13:57] GitEasonXu commented on #41
@udacimak
Thank you so much for your reply.  I will try again according to your advice.
Thanks!

[2019-05-31 01:20] udacimak commented on #42
It's working on my end.
Are you using VPN or proxy? Can you give it a try on another machine?

[2019-06-04 13:22] sstihler opened #43 "Render error: CODE: ERR_INVALID_ARG_TYPE"
**Describe the bug**
I am using `udacimak 1.4.0` and getting the following error.

[code]

The error is occurring at the time of rendering the course.
To download I have used: `udacimak download nd041`
There was no mistake.
To render I used: `udacimak render "Fundamentos Web Front-End v2.0.0"`
When it arrives in the folder
`Fundamentos Web Front-End v2.0.0\Part 02-Module 01-Lesson 02_Lab - Sintaxe

[2019-06-05 11:12] udacimak commented on #43
@sstihler Please email me the `data.json` files to udacimak@tutanota.com. I will have a look.

[2019-06-05 11:13] #42 closed

[2019-06-05 11:13] #41 closed

[2019-06-05 11:14] #35 closed

[2019-06-06 14:40] sgmshaik commented on #39
your npm is probably out of date try updating that brag. use npm to install latest npm

[2019-06-12 12:10] brijeshkamani11 opened #44 "ERROR: Error: read ECONNRESET"
I just install this software and follow your steps..
but i cannnot download due to this error...
[code]
so anyone has solution of this error?

[2019-06-12 12:11] udacimak commented on #44
@brijeshkamani11 Must be something with the internet. Have you tried on a different internet connection?

[2019-06-14 06:35] udacimak commented on #43
@sstihler Could you please send me the `data.json` file of the lesson that's causing the issue? If you're not sure which one it is, please send me the whole Nanodegree's data.

[2019-06-14 06:38] brijeshkamani11 commented on #44
Yes my Internet connection is good and i also try from different network
still its not work...

On Wed 12 Jun, 2019 5:41 pm udacimak, <notifications@github.com> wrote:

[2019-06-14 06:40] udacimak commented on #44
Do you see the same error message when trying from a different network?

[2019-06-14 07:03] udacimak commented on #21
@heysachin I was looking at this feature and decided not to implement it.
Supporting materials can be downloaded when using the rendered version of the Nanodegree/course.
I opt not to download it locally while rendering since the resource is not embedded in a JSON key, but rather in the Markdown text of the lesson content, which can be very confusing for the renderer to parse and download.

[2019-06-14 07:03] #21 closed

[2019-06-14 07:04] #32 closed

[2019-06-14 07:14] udacimak commented on #44
Note that I can download it on my end, so I guess it must be some sort of network issue. Let me know.

[2019-06-14 07:25] brijeshkamani11 commented on #44
Yah, you right its solved on different network. May be problem is in my
network now I'm able to download jason data thank you so much for your help.
but render step is still remaining. if any problem occurs on that step I'll
defiantly ask for your help...but for now thanks for your help.....

On Fri 14 Jun, 2019 12:44 pm udacimak, <notifications@github.com> wrote:

[2019-06-14 07:27] #44 closed

[2019-06-14 07:56] GuoliangPeng commented on #42
I've got the same problem I can't solve

[2019-06-19 00:56] sstihler commented on #43
Em sex, 14 de jun de 2019 às 03:35, udacimak <notifications@github.com>
escreveu:

[2019-06-20 10:35] teodargent opened #45 "How do I change the resolution of the videos?"
How do I download the videos in 1080p instead of 720p? Thanks!

[2019-06-20 11:35] teodargent commented on #35
I'm getting the same error.
`2019-06-20T10:54:20.218Z [info]: Completed rendering lesson file /media/teo/Cruzer/Predictive Analytics for Business Nanodegree  v1.0.0/Part 08-Module 02-Lesson 01_Combining Predictive Techniques/01. Project Overview.html
2019-06-20T10:54:20.218Z [info]: ____________________

✖ Download media file Man-Climbing-Up-in-Grocery-Store--115680.jpg
2019-06-20T10:56:31.439Z [e

[2019-06-20 19:01] AeroGeekDean opened #46 "Please add capturing of project submissions"
First of all... I'm SO glad I found your project here! Just downloaded 7.25GB of my Self-Driving Car Engineering ND (orig Ver 1.0 of the ND, which consists of 3 terms. Udacity reduced it down to only 2 terms later on by removing some materials.)
**THANK YOU!!!**

**Is your feature request related to a problem? Please describe.**
One thing I did not see captured is my submitted project reviews.

Lo

[2019-06-21 04:05] udacimak commented on #45
The CLI use `youtube-dl` to download the videos. I've set the quality setting to be _best_. Not sure if it's getting the highest resolution video or not and if not, why, but I'll double check later.

[2019-06-21 04:23] udacimak commented on #43
@sstihler Please send the JSON files so I can have a look, or let me know if it's working for you.

[2019-06-22 08:31] udacimak commented on #46
Thanks @AeroGeekDean

I decided not to develop this feature due to time constraints.

Outputting project review is a bit complicated due to the _Code Review_ section, which requires showing each code file with their comments. This will require downloading the project, open the code files, generating HTML, embedding the comments into them, etc.

[2019-06-22 09:09] AeroGeekDean commented on #46
@udacimak
Ah, gotcha! Ok, now that you mentioned it... I could definite see the complexity of this now. (My background is in mech/aero engineering. I can design some airplane autopilots & rockets for you. But I'm pretty much clueless on web related technologies! 😆)

---
Given that, perhaps I could ask for some recommendations/advices from you on how I could preserve these myself...?

Currently, I'

[2019-06-22 09:21] AeroGeekDean commented on #46
@udacimak
Oh, disregard my prior...!!!

Turns out that `Mac/Safari: print->pdf` **does** preserve embedded links!
I'll just preserve my submitted project reviews that way then! 😊

[2019-06-22 09:22] udacimak commented on #46
:smile: Wish I had time to develop that, too. But I hardly got time to provide more features to `udacimak` now.

[2019-06-22 09:22] #46 closed

[2019-06-22 09:30] AeroGeekDean commented on #46
No worries. Totally understand!

What you've done with `udacimak` thus far is already an **EXCELLENT** resource for alumni! Thanks much!!!

[2019-06-24 13:04] sstihler commented on #43
It does not work for me.

*Scheila Stihler*
 sstihler@gmail.com
 scheila.stihler
 +55 (48) 98464-5785

Em sex, 21 de jun de 2019 às 01:23, udacimak <notifications@github.com>
escreveu:

[2019-06-27 14:28] sstihler commented on #43
Hello, have you still not been able to figure out what the problem is when you download the course?

[2019-07-01 07:15] AnkS4 opened #47 "SyntaxError: Non-UTF-8 code starting with '\x97'"
**Describe the bug**
Render failure on specific course/video.

**To Reproduce**
Steps to reproduce the behavior:
1. udacimak download ud187
2. udacimak render "Tensorflow free course v1.0.0"

**Udacimak Log**
Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` files:
https://gist.github.com/AnkS4/921c9c69de226055ac8198629168fe3e

[code]

**Desktop (please complete the

[2019-07-13 08:54] udacimak commented on #43
@sstihler Please send me the JSON files. I haven't received them yet.

[2019-07-13 08:59] udacimak commented on #47
@AnkS4 I was able to download and render the course on my Windows and MacOS machine without issues.
It looks like an issue with `youtube-dl` package.
Could you try on a different machine?

[2019-07-14 06:15] AnkS4 commented on #47
Working with updated packages.

[2019-07-14 06:15] #47 closed

[2019-07-14 06:24] AnkS4 commented on #1
Installation with npm works now:

[code]

[2019-07-14 06:49] udacimak commented on #1
Thanks, @AnkS4
I've released `v1.4.1` that updates `youtube-dl`

[2019-07-14 22:28] sstihler commented on #43
I already sent it twice. Which email should I send?
Follow attachment again.

*Scheila Stihler*
 sstihler@gmail.com
 scheila.stihler
 +55 (48) 98464-5785

Em sáb, 13 de jul de 2019 às 05:54, udacimak <notifications@github.com>
escreveu:

[2019-07-15 01:13] udacimak commented on #43
@sstihler Please don't send the JSON files by replying to Github email, the attachment won't come through. Please email directly to udacimak@tutanota.com

[2019-07-17 00:48] udacimak commented on #43
@sstihler Please send all the data.json files of the course instead as I've mentioned in a previous message. Thanks

[2019-07-17 19:25] lucianobarauna commented on #43
Hi, I'm having the same problem. I'll attach the photo and send my date.json
![image](https://user-images.githubusercontent.com/1054454/61404935-fafa6300-a8ae-11e9-97ed-900d75664ebc.png)

Desktop (please complete the following information):

OS: Ubunut 18.04.2 LTS
Node version: v10.15.3
npm version: 6.4.1
Udacimak Version: v1.4.1
Course Information

Nanodegree or Course name: Nanodegree Desenvolve

[2019-07-18 05:21] udacimak commented on #43
@lucianobarauna
Thanks for the details. Please email all the `data.json`  the Nanodegree instead of just one file.

[2019-07-18 13:25] lucianobarauna commented on #43
@udacimak
I emailed the name and the link

[2019-07-19 01:25] udacimak commented on #43
Thanks. I've been able to replicate the error and will fix it soon when I have time.

[2019-07-19 03:18] #43 closed

[2019-07-19 03:19] udacimak commented on #43
@sstihler @lucianobarauna You can install the latest version to have this issue fixed.

[2019-07-19 04:58] udacimak commented on #45
@teodargent For some reason, `youtube-dl` can only see the 720p video version.
I've set the quality setting to `best` so I think that's the best quality we can get from Youtube.

If you have a better suggestion, feel free to reopen the issue.

[2019-07-22 06:25] brichase opened #48 "Unexpected token T in JSON at position 0"
**Describe the bug**
I've used the tool to download 2 other nanodegrees. Thanks!

Downloading nd002, it downloads a large portion of the json files but errors out at one point.

**Error note**
2019-07-21T22:15:07.178Z [^[[31merror^[[39m]: Uncaught Exception:
SYNTAXERROR: Unexpected token T in JSON at position 0
STACK: SyntaxError: Unexpected token T in JSON at position 0
    at JSON.parse (<anonym

[2019-07-22 07:05] udacimak commented on #45
@teodargent I accidentally found out a way to download better video format, I'll release the update in the next coming update (coming soon).
The best video format will be downloaded by default, I still won't provide the option to change the quality option.

[2019-07-22 07:22] udacimak commented on #48
Do you have full access to the Nanodegree?

I can't replicate the issue because I can download successfully on my computer. It's also hard to debug the `download` command because it requires access token.

Please try again and let me know, I'll see what I can do

[2019-07-22 08:06] teodargent commented on #45
Nice! Thank you!

[2019-07-22 14:35] brichase commented on #48
I do have full access to the Nanodegree. The next file it should be downloading is the section on Bayes rule --- and I can access that.

I've tried again with the same result. Any suggestions where to look to debug? Maybe I can be of help.

[2019-07-23 10:39] udacimak commented on #45
@teodargent Sorry, I didn't check carefully, downloading best video format resulting in video missing audio!
I'll have to roll back the changes soon.

[2019-07-23 11:20] #45 closed

[2019-07-23 11:40] udacimak commented on #48
@brichase It'd be great if you could debug the source code, though it requires familiarity with Node JS.

It's quite hard to debug on my end because it's working fine for me. For now, could you try downloading on another machine to see if it works?

[2019-07-24 13:35] lucianobarauna commented on #43
@udacimak
I was able to download it .. thank you very much

[2019-07-25 15:45] TheBaby5 opened #49 "ERROR: Unable to download webpage: HTTP Error 429: Too Many Requests"
**Screenshots**

![image](https://user-images.githubusercontent.com/44883516/61888024-6633dd00-af20-11e9-972c-aaab61559a23.png)

**Describe the bug**

While I was trying to render downloaded jason got this error!

ERROR: Unable to download webpage: HTTP Error 429: Too Many Requests (caused by
HTTPError()); please report this issue on https://yt-dl.org/bug . Make sure you
are using the latest versi

[2019-07-26 06:37] udacimak commented on #49
@TheBaby5 The Too Many requests error means there are too many requests being sent to the server so the request is rejected.

It should work if you try again after a short wait.

[2019-07-28 01:15] Charul090 opened #50 "ERROR:Path to downloaded Udacity course/Nanodegree doesn't exist."
Nevermind i solved it

[2019-07-28 04:48] #50 closed

[2019-08-01 17:53] shahidcodes opened #51 "Option to skip youtube downloads"
**Is your feature request related to a problem? Please describe.**
As all nano degree uses youtube unlisted video so I feel it is unncessary to download all videos locally. And in low FUP bandwidth internet connection it becomes difficult to download all videos past FUP.
**Describe the solution you'd like**
Add an option to switch off the downloads and render embedded youtube video player instead.

[2019-08-01 18:47] TheBaby5 commented on #49
**Sure, I'll retry and update.**

[2019-08-01 20:58] TheBaby5 commented on #49
**Sorry, it's still the same! Same error is popping!**

[2019-08-02 00:04] TheBaby5 commented on #49
**I've got one workaround, by using VPN/Proxy service the issue seems to be solved... Currently using dedicate proxy.**

[2019-08-02 04:29] #49 closed

[2019-08-02 04:32] udacimak commented on #51
Thanks @shahidcodes
I built the CLI with the intention to make the course fully functional without requiring online resources.
Unfortunately, I'm not planning to develop your proposed feature.

[2019-08-02 04:32] #51 closed

[2019-08-03 23:42] brichase commented on #48
Updated udacimak and ran it again on the same machine---and it now works. Not sure if it had to do with the program or the website.

[2019-08-03 23:42] #48 closed

[2019-08-16 09:33] awaissaeed530 opened #52 "Skip Subtitles Download"
Downloading subtitles in some courses takes a lot of time because each video has 10-15 subtitles files and some have even more. While I don't even want to download any subtitle file I think there should be feature to skip subtitles during render process.

[2019-08-19 12:41] ravireddy07 opened #53 "Unable to render"
I've downloaded the json files in Documents,
i used the command `udacimak render C:\username\Documents\Nanodegree_name`,

It showing the error that _ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse _
[udacimak.info.log](https://github.com/udacimak/udacimak/files/3515915/udacimak.info.log

[2019-08-20 12:21] udacimak commented on #52
@awaissaeed530 I will plan this for a future release, but no concrete timeline yet.

[2019-08-20 12:22] udacimak commented on #53
Hi @ravireddy07 ,

It seems you're using Windows, you need to put the path into double quotes because of the space characters, eg. `udacimak render "C:\username\Documents\Nanodegree_name"`

[2019-08-25 02:33] jrao1 opened #54 "Add delay/sleep between youtube downloads"
Youtube is starting to crackdown on automated downloader, I'm getting "HTTP Error 429: Too Many Requests" after a few downloads using udacimak, see also: https://github.com/ytdl-org/youtube-dl/issues/21729

Seems like the only way to avoid this is to have delay/sleep between youtube downloads, I added a 300s delay and skipped subtitle downloading, this seems to be working so far.

Please consider

[2019-08-26 09:08] udacimak commented on #54
Thanks @jrao1
I'm pretty busy at the moment but will try to fix this asap for the next release

[2019-09-02 14:45] ravireddy07 commented on #53
Yes...It worked..!!!

[2019-09-02 14:45] #53 closed

[2019-09-22 05:29] omar5050 commented on #52
how can i add subtitle to video in browser

[2019-09-26 02:48] udacimak commented on #54
Sorry for the delay, I'm super busy but will be able to have a look at this within the next few weeks.

[2019-10-01 18:13] EvanFung opened #55 "Cannot use the command"
**Describe the bug**
cannot use the command to set the authentication token.
I cannot even use the udacimak --help command

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: mac os 10.14.6
 - Node version: (`v6.11

[2019-10-02 07:33] #55 closed

[2019-10-04 10:05] udacimak commented on #54
@jrao1 @nico00  I'm looking at this problem.

But by looking at this post:
- https://github.com/ytdl-org/youtube-dl/issues/21729#issuecomment-511085253

I see that adding a delay between downloads doesn't really fix the issue.

It's strange because I don't encounter this issue at all. Will it help by using a VPN in your situation?

[2019-10-04 13:51] jrao1 commented on #54
@udacimak Yes, I have read that comment, I think his delay is not long enough, I tried 300s delay which seems to work well. VPN is a lot of hassle to setup, so I'd like to avoid it if possible.

[2019-10-06 00:50] udacimak commented on #54
@jrao1 OK I'll add the option for delay soon and will release an update.

[2019-10-06 07:27] #52 closed

[2019-10-06 07:27] #54 closed

[2019-10-06 07:29] udacimak commented on #54
@jrao1 Release is published, you can use the delay as in this example:

[code]

This will add 5-second delay between each Youtube download

[2019-10-10 14:22] MakVihas opened #56 "Failed to find nanodegree"

[2019-10-10 14:23] MakVihas commented on #56
2019-10-10T14:15:40.923Z [info]: Start downloading Nanodegree nd001 from Udacity API
✖ Get Nanodegree nd001 information
✖ Get Nanodegree nd001 information
2019-10-10T14:15:42.344Z [error]: Failed to download course. See error below:
ERROR: Fail to find Nanodegree key nd001 in your profile. The key nd001 either doesn't exist or you don't have access to it.
STACK: Error: Fail to find Nanodegree key

[2019-10-10 23:25] udacimak commented on #56
@MakVihas

Do you have subscription for `nd001`?

Also, can you run `udacimak listnd` to see what NDs you have access to and if `nd001` is listed?

[2019-10-14 03:45] gpokhark opened #57 "Error while rendering the SDND program"
I am using Ubuntu OS and while rendering the SDND program I am getting following error -

<pre>ERROR: EIO: i/o error, scandir &apos;Udacity_Rendered_Courses/Self-Driving Car Engineer v2.0.0/Part 01-Module 05-Lesson 03_C++ Checkpoint&apos;
CODE: EIO
STACK: Error: EIO: i/o error, scandir &apos;Udacity_Rendered_Courses/Self-Driving Car Engineer v2.0.0/Part 01-Module 05-Lesson 03_C++ Checkpoint&apos;

[2019-10-14 08:35] udacimak commented on #57
@gpokhark

Please email me the JSON files of the ND to udacimak@tutanota.com so I can have a look.

[2019-10-18 09:38] jackinDev opened #58 "Rendering problem"
While rendering the json file of the Natural Language Processing nanodegree it shows the following error:

udacimak render "/Users/aroop/Natural Language Processing Nanodegree v1.0.0/data.json" "/Users/admin/Study/nlp"

2019-10-18T09:15:54.631Z [error]: TYPEERROR: Cannot read property 'length' of undefined
STACK: TypeError: Cannot read property 'length' of undefined
    at renderCourse (/Users/adm

[2019-10-21 10:25] udacimak commented on #58
Hi @jackinDev
Please email the JSON files to udacimak@tutanota.com so I can have a look.

[2019-10-23 00:28] #58 closed

[2019-10-23 07:35] udacimak commented on #58
@jackinDev I've been able to render the Nanodegree without issues.

Please fix the command as such:

[code]

There's no need to include `data.json` in the path

[2019-10-24 07:56] Hanson7300 opened #59 "Unhandled Promise Rejection Error"
**Describe the bug**
Unhandled Promise Rejection:ERROR: spawn UNKNOWN
**Udacimak Log**

[code]
**Desktop (please complete the following information):**
 - OS: [Windows 10 1903 ]
 - Node version: (`10.16.3`)
 - npm version: (`6.12.0`)
 - Udacimak Version: (`1.4.5`)
 - Browser [chrome]

**Course Information**
 - Nanodegree or Course name: [Android Basic Nanodegree]
 - Version: [v1.0.0]
 - Locale: [z

[2019-10-24 10:55] udacimak commented on #59
@Hanson7300 The error is thrown by `youtube-dl`.

Could you try rendering in a different VPN network?

[2019-10-24 16:57] gpokhark commented on #57
Oh thank you I downloaded the JSON files again and then it worked, something was wrong with the original JSON files,

[2019-10-24 16:57] #57 closed

[2019-10-25 02:39] Hanson7300 commented on #59
![image](https://user-images.githubusercontent.com/22568493/67538793-bafb1580-f712-11e9-916f-9cbd26f1698d.png)
@udacimak I tried ShadowsocksR and V2ray, both works when downloading youtube videos.
Render still doesn't work.

[2019-10-25 11:57] udacimak commented on #59
@Hanson7300 that's weird. Actually it's an error from `youtube-dl` so I'm afraid I can't provide much help. It's working on my end so I have to assume that the CLI is working fine.

Are you able to try on another network?

[2019-10-29 15:12] Hanson7300 commented on #59
@udacimak I re-install node.js,npm,udacimak, and got the error unable to locate `youtube-dl`.I tried to put youtube-dl.exe into the path but doesn't work...
![23](https://user-images.githubusercontent.com/22568493/67780477-1aee1500-faa1-11e9-909b-dba5a1630b5c.png)
Error: ERROR: unable to locate `youtube-dl` at C:\Users\Hanson\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin

[2019-10-30 10:46] udacimak commented on #59
@Hanson7300
`youtube-dl` can't be run directly as such. It is installed and used internally by `udacimak`

[2019-10-30 18:27] Er0x05 opened #61 "There is no subtitles in vedio for showing"
Download is okay.
Render with --subtitles is okay.
I got all of files videos and subtitles.
But there is no subtitles in vedeo after click the 'CC' button.

May I get any help?  thanks so much.

[2019-10-31 09:01] udacimak commented on #61
@Er0x05
Browsers have a policy that blocks loading subtitle files if HTML files are opened directly (with `file://` uri)
To watch with subtitles you'll need to serve the HTML files on localhost (one option is to use https://www.npmjs.com/package/serve )

[2019-11-01 08:37] Er0x05 commented on #61
thanks . It works. =]

[2019-11-01 08:38] #61 closed

[2019-11-01 08:38] #56 closed

[2019-11-10 06:42] PuRp1eWind opened #62 "cannot locate 'youtube-dl'"
**Describe the bug**
when I use `udacimak settoken`, I get an error:

throw new Error('ERROR: unable to locate `youtube-dl` at ' + binPath)

Error: ERROR: unable to locate `youtube-dl` at

**Desktop (please complete the following information):**
 - OS: macOS 10.15.1
 - Node version: v13.1.0
 - npm version: 6.12.1
 - Udacimak Version: when I run `udacimak --version`, I get the same error
<img width

[2019-11-10 06:46] PuRp1eWind commented on #62
I followed the install guide on the wiki page.

[2019-11-10 11:32] udacimak commented on #62
That's a strange issue. Could you try on a different machine to see if it works?

[2019-11-10 14:31] PuRp1eWind commented on #62
I can not solve this issue. I'm using the docker version of udacimak. However, I don't know the default download folder path. I'm using `docker container run -it -v "$(pwd)/:/downloads" udacimak/udacimak download xxx`. Any suggestions?

[2019-11-10 14:59] PuRp1eWind commented on #62
I run this command ` docker container run -it -v "/Users/wangtongtong/Downloads/Learning/MOOC/Udacity" udacimak/udacimak  download --targetdir /Users/wangtongtong/Downloads/Learning/MOOC/Udacity ud827 ud359 cs271 ud600 ud730 cs373 ud501`
I can download JSON data. But I don't know where these data is. There is nothing in the /Users/wangtongtong/Downloads/Learning/MOOC/Udacity folder

[2019-11-10 15:06] PuRp1eWind commented on #62
I think the wiki page needs to clarify the default download and render folder paths.

[2019-11-13 03:42] udacimak commented on #62
You need to be familiar with Docker Volume to get the data to your local machine. Though I've seen Docker on Windows having issues with volume before - it doesn't connect to the volume properly - but I'm not a DevOps expert so I'm not sure how to resolve that.

[2019-11-13 17:13] akashbisht81 commented on #62
Me too, I am having this issue on my windows 10. same kind of issue.

[2019-11-16 19:04] akashbisht81 opened #63 "Can't download !"
C:\Users\Akash>udacimak render C:\Users\Akash\Machine Learning - Introduction v2.0.0
2019-11-16T19:01:23.009Z [error]: ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse (C:\Users\Akash\AppData\Roaming\npm\node_modules\udacimak\lib\commands\render\functions\renderCourse.js:43:11)
    at as

[2019-11-17 11:10] udacimak commented on #63
@akashbisht81 You need to put the path in double-quotes because it contains space character

[2019-11-18 01:32] akashbisht81 commented on #63
Gotcha !, I just re-named the file name without spaces and replaced that
name instead, and now it worked like a charm. Thanks.

On Sun, Nov 17, 2019 at 4:40 PM udacimak <notifications@github.com> wrote:

[2019-11-18 04:14] akashbisht81 commented on #63
@udacimak I have downloaded the content for personal-use, But i have one issue, the video is not in HD, how can i download all the contents in HD format. Any suggestions on that ?

[2019-11-19 00:07] udacimak commented on #63
@akashbisht81 I've tried this before but it's not possible yet - audio is lost when downloading HD video.

[2019-11-19 01:28] akashbisht81 commented on #63
Okay.

On Tue, Nov 19, 2019 at 5:37 AM udacimak <notifications@github.com> wrote:

[2019-11-19 01:29] #63 closed

[2019-11-19 16:19] vsay01 commented on #62
The same issue installed with npm install -g udacimak

[2019-11-24 14:57] vsay01 commented on #59
I have the same issue @Hanson7300

/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/lib/get-binary.js:11
    throw new Error('ERROR: unable to locate `youtube-dl` at ' + binPath)
    ^

Error: ERROR: unable to locate `youtube-dl` at /usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin
    at module.exports (/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/lib/ge

[2019-11-28 09:43] shubham-ai opened #64 "not able to download the content"
Failed to download course. See error below:
TYPEERROR: Cannot destructure property 'lessons' of 'course' as it is null.
STACK: TypeError: Cannot destructure property 'lessons' of 'course' as it is null.
    at downloadCourse (/usr/local/lib/node_modules/udacimak/lib/commands/download/functions/downloadCourse.js:33:7)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at as

[2019-11-28 09:50] udacimak commented on #64
Please provide full detail and commands that you run to help me replicate

[2019-11-28 21:36] vsay01 commented on #62
@udacimak is it working on your machine when you install from npm package?

[2019-11-29 02:30] udacimak commented on #62
@vsay01 yes it works on all my computers. I haven't been able to replicate this issue yet. I'd suggesting trying using `nvm`, Docker image, changing OS. Let me know if any of those work?

[2019-12-01 12:22] vsay01 commented on #62
@udacimak I use udacimak docker and it's working. For now I'll keep using docker version, Thanks

[2019-12-01 12:24] vsay01 commented on #59
@Hanson7300

@udacimak suggest me to use udacimak docker version, and it's working, so you can try that out.

[2019-12-02 14:20] rupeshvins commented on #59
@vsay01
Hi
By Docker version r u able to download full course and how to use udacimak renderdir command

[2019-12-03 05:40] rupeshvins commented on #50
@Charul090
Hi, how u solve it, plz post a reply here so other user also follow ur steps
:-)

[2019-12-03 06:58] rupeshvins opened #66 "Target Directory/Path To downloaded Udacity not exist."
**Render is not working**

Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` files:

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [Windows 8.1 Enterprise]
 - Node version: (`node --v13.0.1`)
 - npm version: (`npm --version`)
 - Udacimak Version: (`udacimak --1.4.

[2019-12-03 11:29] udacimak commented on #66
@rupeshvins On Windows, uou need to make sure to wrap all paths that have space characters inside double quotes

[2019-12-03 11:37] rupeshvins opened #67 "In Docker toolbox user key and course download"
**Describe the bug**
In Docker command prompt user key and course download error comes

**Udacimak Log**
Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` files:

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [Windows 8]
Docker toolbox v19.03.1
 - Node version: (`

[2019-12-03 11:54] rupeshvins commented on #66
Hi
I make no space b/w download file, but error still comes
![wrappath](https://user-images.githubusercontent.com/7515562/70049037-c71ba200-15f1-11ea-82af-6b38ff0dedda.JPG)

[2019-12-03 12:13] rupeshvins commented on #66
Plz find all json data, folder is not so I make zip
thanks

On Tue, Dec 3, 2019 at 4:59 PM udacimak <notifications@github.com> wrote:

[2019-12-03 12:16] rupeshvins commented on #59
@vsay01
Hi
Plz check https://github.com/udacimak/udacimak/issues/67
I download and install docker toolbox but show some error, can u suggest me what can I do.
Thanks

[2019-12-03 12:23] udacimak commented on #66
@rupeshvins You need to run the command as this example:

[code]

I'm not on Windows at the moment so I can't double check but it should look like that - please search on Windows cmd with space character for help

[2019-12-03 12:25] udacimak commented on #67
@rupeshvins This is due to the pasted JWT token is not correct. Please also don't post screenshots of  your JWT token - it is your private credential

[2019-12-03 12:26] #64 closed

[2019-12-03 12:44] rupeshvins commented on #67
Hi
I cross chk JWT token in chrome and firefox both show same key 80-90 character, so key is correct and I didn't post full key with snapshot.

[2019-12-03 12:47] udacimak commented on #67
Please try again, also please make sure there are no white space after the JWT token. Occasionally, it's a bit tricky working on Windows CMD

[2019-12-03 17:19] rupeshvins commented on #59
@vsay01
Hi
Ur udacimak Docker version is working so can u download [Intro to Deep Learning with PyTorch](https://classroom.udacity.com/courses/ud188) and share with via google drive.
Thanks

[2019-12-04 12:25] rupeshvins commented on #66
Hi, I make in another laptop but same directory not found, can I raise a request here, can u download https://classroom.udacity.com/courses/ud188 and share via google drive with me.
Thanks

[2019-12-05 13:44] Hanson7300 opened #68 "Command failed with exit code 3"
**Describe the bug**
Hi, I tried many times to re-install npm, udacimak, etc , fix that''Unhandled Promise Rejection Error'', and i got this new error message:

**Screenshots**
![Snipaste_2019-12-05_21-37-17](https://user-images.githubusercontent.com/22568493/70240211-c298ea00-17a7-11ea-8729-0d22b113e15e.png)

**Desktop (please complete the following information):**
 - OS: [windows10 1909]
 - Node

[2019-12-06 19:53] rupeshvins commented on #68
@Hanson7300
Hi, I also face same error in windows via github, but u use which s/w ? Is ur's json downloaded file in Android folder or in Hanson?
in Github I use  udacimak _json\Name of folder where json file located (I dont knew this is correct way to call json file)
Plz reply

[2019-12-06 23:30] Hanson7300 commented on #68
@rupeshvins
The json file is in the Android folder.The auto generate folder name contains Chinese character,I rename it just for convenience.And what do you mean by s/w?
On windows 10 I use` udacimak render C:\Users\Hanson\Android -t C:\Users\Hanson\Desktop ` and some index html files renders correctly(see the picture above),so i guess that's correct. I think the render priority is the same,so if

[2019-12-07 04:56] udacimak commented on #68
@Hanson7300 Are you rendering from China? Could you try using a VPN?

[2019-12-07 09:37] Hanson7300 commented on #59
@vsay01 I tried many ways to apply my VPN network on docker container, but all failed.

[2019-12-07 09:41] udacimak commented on #68
@Hanson7300 Please email me the JSON files so I can try rendering the course - udacimak@tutanota.com

[2019-12-07 11:14] udacimak commented on #66
@rupeshvins Please email me your JSON data to udacimak@tutanota.com , I can have a look and download

[2019-12-08 09:42] udacimak commented on #66
@rupeshvins any update?

[2019-12-09 13:01] rupeshvins commented on #66
No same problem, target directory didn't found.

On Sunday, December 8, 2019, udacimak <notifications@github.com> wrote:

[2019-12-09 13:02] rupeshvins commented on #66
I send u soon json data

On Saturday, December 7, 2019, udacimak <notifications@github.com> wrote:

[2019-12-09 19:44] vsay01 commented on #59
@Hanson7300 Could you share the log you have ?

[2019-12-19 03:14] AhmdNassar opened #70 "Command failed with exit code 3221225595"
**Describe the bug**
when I run udacimake render I get this error ERROR: Command failed with exit code 3221225595

**Screenshot**

![image](https://user-images.githubusercontent.com/26696536/71141696-b1c38c00-221d-11ea-9383-f89eee55ee60.png)

when I tried to render ND again I get this error : ERROR: ENOENT: no such file or directory, open 'assets\css\fonts\data.json'

**Screenshot**
![image](https

[2019-12-19 08:34] udacimak commented on #70
@AhmdNassar For the second issue, please separate render and download folder first, see here:
- https://github.com/udacimak/udacimak/wiki/How-to-Use#important-render-directory-note

Could you try that and see if the Youtube download issue persist?

[2019-12-19 08:34] #68 closed

[2019-12-19 17:29] PulkitBanta opened #71 "Cannot render the project once fully downloaded"
**Describe the bug**
The webpage after downloading the whole project do not render again as it says that it cannot find the data.json file to render the project, however opening the webpage from index.html do not looks even like the original webpage, It just seems to be a webpage without any CSS and styling.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the course (ud894).
2. Try

[2019-12-19 23:07] udacimak commented on #71
@PulkitBanta
Udacimak doesn't aim to make the webpage to look exactly the same as Udacity website.

For the `render` issue, please see this README section:

- https://github.com/udacimak/udacimak/wiki/How-to-Use#important-render-directory-note

You must separate render folder from download folder.

[2019-12-20 00:47] PulkitBanta commented on #71
After downloading the course once I tried to render it to target directory but same error occurred.
[code]

[2019-12-20 14:16] AhmdNassar commented on #70
@udacimak I tried to separate render and download folder but the same error

![image](https://user-images.githubusercontent.com/26696536/71260623-fa756500-2343-11ea-8269-507dd1e8d900.png)

[2019-12-21 00:58] udacimak commented on #71
The `Front End Frameworks v1.0.0` folder contains `assets` folder, which means you must have rendered into that folder before.

Please make sure the source folder for `render` is the download folder (the one that contains only `.json` files. The target render folder must be different from the source.

[2019-12-21 03:20] PulkitBanta commented on #71
Thanks, for your help.

[2019-12-21 03:20] #71 closed

[2019-12-28 14:37] greyhats13 commented on #17
I had an issues when the folder contains . (dot), so udacimak can't render the json, and folder cannot be deleted in Windows 10. It occurred when I render the Udacity free course with code ud169 (Udacity - Embedded Systems). Because the folden contain names Lesson "12_P3L2 Energy Opt. Post-pass Reg. Alloc.". I think the udacimak render must filter dot when create a folder.

[2020-01-03 08:34] udacimak commented on #70
@AhmdNassar This is a different issue. Could you please send me the downloaded JSON files to udacimak@tutanota.com so I can check on my end.

[2020-01-03 18:11] AhmdNassar commented on #70
@udacidown I sent JSON file to your mails.

[2020-01-06 03:00] mhob commented on #45
Could this be reopened?

The proper format option for youtube-dl would be `--format='bestvideo+bestaudio/best'`

But what would be even better is if you could specify a format string. (For example, I personally prefer: `'bestvideo[ext=mp4][height<=1080][width<=1920]+bestaudio[ext=m4a]/mp4'` which gets me the best HD MP4 video.)

I tried messing with the code to make it work, but kept encountering

[2020-01-09 05:13] #62 closed

[2020-01-11 02:36] udacimak commented on #70
@AhmdNassar I can render the Nanodegree normally without issues on my end.
I'm not sure what's causing that error.
Does this error occurs for you when downloading other courses, too?
I'd also suggest trying to run Udacimak in a Docker container (if you're familiar with Docker)

[2020-01-11 15:20] AhmdNassar commented on #70
I didn't try to download other courses, I will try, but I'm
an enterprise student with NTL in Egypt so am I allowed to download
Nanodegree? or this could be the problem!

unfortunately, I'm not familiar with Docker

On Sat, Jan 11, 2020 at 4:36 AM udacimak <notifications@github.com> wrote:

[2020-01-12 00:55] udacimak commented on #70
You should be able to download - the error is with downloading Youtube videos. Let me know how you go.

[2020-01-22 16:01] Abhishekdm opened #73 "Cannot read property 'lessons' of undefined"
$ udacimak render "C:\Users\abhishek\Desktop\Intel® Edge AI Scholarship Foundation Course v1.0.0\Part 02_Intel® Edge AI Foundation Course\Module 01_Intel® Edge AI Foundation Course\Lesson
 01_Introduction to AI at the Edge" -t "coursedownload"
2020-01-22T15:54:25.897Z [error]: TYPEERROR: Cannot read property 'lessons' of undefined
STACK: TypeError: Cannot read property 'lessons' of undefined
    a

[2020-01-26 15:29] ememdev opened #74 "incorrect html formatting of covariance matrix multiplication"
I'm running the latest version, v1.4.5 - updated yesterday.

I'm saving down the AI for Trading ND (880) and noticed that the rendered HTML page seems to be incorrectly formatting Covariance Matrix multiplication.

The left-justification is fine, it's the formatting of the matrices showing multiplication that is different; seems to be missing a newline? After a download & render, I'm seeing this:

[2020-01-28 00:18] abhiank commented on #45
Hello @udacimak. Thank you for this amazing tool. Its absolutely invaluable.

I think there's still some issue with the video quality. For a course I downloaded, the majority videos are in 720p but some videos downloaded in 360p. Could you please take some time and re-look into it. Perhaps the latest suggestion from @mhob might help. Thank you!

[2020-02-03 19:19] tavishjain opened #75 "Not able to download content"
**Describe the bug**
2020-02-03T19:22:57.919Z [error]: TYPEERROR: Cannot read property 'length' of undefined
STACK: TypeError: Cannot read property 'length' of undefined
    at renderCourse (/usr/local/share/.config/yarn/global/node_modules/udacimak/lib/commands/render/functions/renderCourse.js:55:48)

**To Reproduce**
Ran the following command after setting token
udacimak render nd893-ent

**Expe

[2020-02-03 20:44] Abdullah-AlEyoni opened #76 "Can't install udacimak"
i try to download udacimak return error

[code]
and  if run it with sudo

[code]

and the 2020-02-03T20_34_15_676Z-debug.log
[code]

 - OS: ubuntu 18.04
 - Node version: v12.14.1
- npm version: 6.13.4

.

[2020-02-04 07:50] Abdullah-AlEyoni commented on #76
ok I use `yarn` instead of `npm`
[code]
For more detailed you can go to #1

[2020-02-04 07:50] #76 closed

[2020-02-05 18:15] saeedarabi92 opened #77 "ERROR: 9PoZXr8dxFA: YouTube said: Unable to extract video data"
**Describe the bug**

When I want to render the files I received this error:

[code]

**To Reproduce**
I ran this command in docker:
`udacimak render Robotics\ Software\ Engineer\ v2.0.0/ --targetdir downloads`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Udacimak Log**
Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` fi

[2020-02-07 19:14] Abdullah-AlEyoni commented on #77
for what I know the youtube script can't find the `9PoZXr8dxFA ` id video so send an error.
so what I did is download the video using https://www.y2mate.com/ and give it the URL for the video
`https://www.youtube.com/watch?v= {video_id}`
 for your case will be
 `https://www.youtube.com/watch?v=9PoZXr8dxFA`
and edit the data.json file and change the video id `9PoZXr8dxFA` to author id for example `

[2020-02-10 06:02] ayushbathrey opened #78 "Command failed with exit code 3221225781"
It was working fine till 08-02-2020, I formatted my pc yesterday and now it has stopped working.
ERROR LOG:
2020-02-10T05:41:48.445Z [[31merror[39m]: ERROR: Command failed with exit code 3221225781: C:\Users\Ayush\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin\youtube-dl.exe --dump-json --format=best --encoding utf8 http://www.youtube.com/watch?v=7kphieW4yl4
STACK: Error:

[2020-02-10 11:56] Abdullah-AlEyoni commented on #78
whats output when u run
`npm -v` , `node -v` , `udacimak -v`  and `npm install -g udacimak`

[2020-02-10 12:11] ayushbathrey commented on #78
npm version: 6.13.4
node version: v12.15.0
udacimak version: v1.4.5
On executing "npm install -g udacimak", it downloads and installs the package

[2020-02-10 16:38] Abdullah-AlEyoni commented on #78
try to
`npm cache clean --force` and `rm -rf node_modules `

one Question:-
when the error appears after witch command?

[2020-02-11 03:51] ayushbathrey commented on #78
Error comes after render conmand is executed.

[2020-02-11 10:51] Abdullah-AlEyoni commented on #78
try
`npm -g uninstall udacimak --save`
and
then follow the  [Install & Update](https://github.com/udacimak/udacimak/wiki/Install-&-Update) Wiki

[2020-02-15 16:41] abhiank opened #79 "Getting a ERROR: status code 500 for a JS course I'm trying to download"
Hi, thanks for this amazing project!

I'm trying to download this Udacity Course - https://www.udacity.com/course/intro-to-javascript--ud803, however the program is crashing and stopping trying to download the first video itself from youtube.

Downloading the JSON structure worked perfectly, but in the render stage, when I executed this command -
`udacimak render /Users/abhi/Desktop/Udacity\ JS/In

[2020-02-15 18:32] Abdullah-AlEyoni commented on #79
Hi, the problem is can't find youtube id `cWOCLHmFvWw `. check #77

[2020-02-16 10:54] abhiank commented on #79
Thanks for the reply @Abdullah-AlEyoni.

A couple of follow up questions -
1. What is the solution to it not being able to find the youtube video even though it is present?
2. Couldn't understand what you meant in the linked issue - `edit the data.json file and change the video id 9PoZXr8dxFA to author id for example 1YnNLi_Dy5M.` Which one is the "author-id"? Is it the channel id?

Thanks.

[2020-02-16 11:01] Abdullah-AlEyoni commented on #79
1- my solution to the frist one is downloading it using 3ed party app  or website like like
2 - I meant `another` not `author` sorry  :)

[code]
change the you `youtube_id`

[2020-02-16 12:11] abhiank commented on #79
Ah right. I got that. But isn't there a solution to this problem? Perhaps the newer versions of node-youtube-dl does not give this error?..

Oh no problem :)

[2020-02-17 08:12] udacimak commented on #73
@Abhishekdm Please send me the JSON files to udacimak@tutanota.com so I can have a look

[2020-02-17 08:12] #70 closed

[2020-02-17 08:12] #67 closed

[2020-02-17 08:12] #66 closed

[2020-02-17 08:12] #59 closed

[2020-02-17 09:04] rupeshvins commented on #59
Udacimak not working, plz try other methods.
Even I try all Udacimak method and Dockers but no result

On Mon, Feb 17, 2020 at 1:42 PM udacimak <notifications@github.com> wrote:

[2020-02-17 09:04] rupeshvins commented on #66
Udacimak not working, plz try other methods.
Even I try all Udacimak method and Dockers but no result

On Mon, Feb 17, 2020 at 1:42 PM udacimak <notifications@github.com> wrote:

[2020-02-17 09:05] rupeshvins commented on #67
Udacimak not working, plz try other methods.
Even I try all Udacimak method and Dockers but no result

On Mon, Feb 17, 2020 at 1:42 PM udacimak <notifications@github.com> wrote:

[2020-02-18 15:16] Abhishekdm commented on #73
i have sent you the json file as an email.

[2020-02-20 16:52] jess-s opened #80 "install error: miniconda / Windows 10"
**Describe the bug**

Appears to install, then produces the following error:

udacimak : The term 'udacimak' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ udacimak -v
+ ~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (udacimak:

[2020-02-22 13:42] stela commented on #79
I too have the same problem, receiving HTTP status 500 errors on the nd-013 self driving car course's camera calibration lesson videos, several of them, so gave up manually replacing IDs with other working videos. I attempted to bump upgrade to `"youtube-dl": "^3.0.2"` however that didn't seem to have any effect. Instead I added another error-ignoring block, near the end of the downloadYoutube.js

[2020-02-23 09:01] revelationnow commented on #79
It appears that even using the browser, the best video format (format code 22) isn't downloadable. I forced udacimak to download format 18 and the failures seem to go away, albeit the video quality is poorer.

[2020-02-23 15:22] abhiank commented on #79
@stela, how can I use the code from your fork to execute Udacimak?

[2020-02-23 19:46] stela commented on #79
Basically use the instructions provided in https://github.com/udacimak/udacimak/blob/master/CONTRIBUTING.md and https://github.com/udacimak/udacimak/wiki/How-to-Use.
@abhiank  First, download or clone my fork linked previously.
The, e.g. for a Mac if you took the nd013 course (see listnd output if you don't know the code):
[code]
However, I believe @relevationnow's fix is much better, you will act

[2020-02-24 10:28] udacimak commented on #80
I'm not sure if it'll work with Miniconda, could you try installing directly on your computer?

[2020-02-24 11:16] abhiank commented on #79
@stela, thanks for your response. I was trying to do this myself to try and see if latest youtube-dl version could solve it and was really struggling with it due to lack of node knowledge. However you already observed that that didn't do anything.

@revelationnow Thanks, your code worked.

It seems the problem is with youtube-dl itself. I've submitted an issue here
https://github.com/przemyslawplu

[2020-02-24 16:25] maladeep commented on #66
Guys, It worked for me when I ran the command like this example:

`udacimak render "Bertelsmann Tech Scholarship Challenge Course - AI Track v1.0.0" `

i.e
`udacimak render "<YOUR UDACITY COURSE DIRECTORY NAME AS IT IS> " `

[2020-02-25 05:51] rupeshvins commented on #66
can u show the screen shot when it run

On Mon, Feb 24, 2020 at 9:55 PM MalaDeep <notifications@github.com> wrote:

[2020-02-27 13:00] Abhishekdm commented on #73
i have  attached the whole folder as a rar file.

On Mon, Feb 17, 2020 at 8:12 AM udacimak <notifications@github.com> wrote:

[2020-03-01 07:09] mariusneamtu commented on #79
You can resolve easily, edit your json files just like that:
"video": {
                "youtube_id": "y9ch4F_JovU.mp4"
                "china_cdn_id": ""

[2020-03-01 07:09] mariusneamtu commented on #79
You can resolve easily, edit your json files just like that:
"video": {
                "youtube_id": "y9ch4F_JovU.mp4"
                "china_cdn_id": ""

[2020-03-13 13:38] JosephSafwat opened #81 "stuck at getting video"
? Getting Youtube video id pZ0J6PF6bqI information
2020-03-13T13:28:52.948Z [error]: ERROR: status code 500
STACK: Error: status code 500
    at Request.response (C:\Users\joseph\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\lib\youtube-dl.js:67:35)
    at Request.emit (events.js:311:20)
    at Request.onRequestResponse (C:\Users\joseph\AppData\Roaming\npm\node_modules\udacimak

[2020-03-16 02:11] Ghaleb-alnakhlani commented on #81
I second this I have the same issue

[2020-03-16 10:35] Ghaleb-alnakhlani commented on #79
@abhiank could you please share the details on how you have managed to solve this error
I am stuck on the same error?

[2020-03-17 10:34] aiolar opened #83 "'udacimak' is not recognized as an internal or external command, operable program or batch file."
Hello can you please kindly assist. anytime i type udacimak i get that error message. I know usually when this happens i am supposed to add it to my path but i do not know exactly what to do. Thanks

[2020-03-18 09:47] abhiank commented on #79
@Ghaleb-alnakhlani, you just need to follow the steps mentioned by @stela in his comment after cloning @revelationnow's fork's code. If you have any specific question about any of the steps you can ask us.

[2020-03-18 10:43] Ghaleb-alnakhlani commented on #79
@abhiank i know how to clone @revelationnow code but after i do the cloning how do i run it.
I mean when i first downloaded the udacimak the orginal one i just installed it using "npm". So for the one i download how i run it.

[2020-03-24 06:20] udacimak commented on #75
@tavishjain From which directory do you run the `render` command?

[2020-03-24 06:24] udacimak commented on #83
Have you tried using `nvm` to install Node JS and install Udacimak?

[2020-03-24 06:25] #80 closed

[2020-03-24 06:26] udacimak commented on #78
@ayushbathrey Can you try installing Node JS with `nvm` then install Udacimak, see if that resolve the issue?

[2020-03-24 06:38] udacimak commented on #74
@ememdev Thanks for reporting the issue.

It was very difficult for me to render the Latex syntax that are written on Udacity. I believe their syntax is a bit messy, which led to Udacimak's parser having trouble rendering some of the syntaxes.

I'm not able to fix this at the moment as it has become too hacky to render their Latex syntax, but I will try to have a look when I have a chance.

[2020-03-24 06:50] udacimak commented on #73
@Abhishekdm I have not received the full JSON files, could you please send again?

[2020-03-24 07:14] udacimak commented on #79
Thanks, everyone. I'm going to release an update soon using @revelationnow 's solution.

[2020-03-24 07:52] udacimak commented on #73
@Abhishekdm I'm able to render the course without issues.

Can you try running this command:

[code]

Note that render points to the folder that contains the downloaded content, not to a specific lesson

[2020-03-24 08:04] #79 closed

[2020-03-24 08:05] udacimak commented on #77
This is a duplicate issue of #79

I have fixed the issue. Please update Udacimak and try again

[2020-03-24 08:05] #77 closed

[2020-03-24 08:05] udacimak commented on #81
This is a duplicate issue of #79

I have fixed the issue. Please update Udacimak and try again

[2020-03-24 08:05] #81 closed

[2020-03-25 21:24] pranjalchaubey opened #87 "YouTube Video Quality"
If possible, consider adding the option of controlling the quality of videos that are being downloaded from YouTube. Or simply ensure that all the videos are being downloaded in _MAX_ quality.

Currently, YouTube has put restrictions on their video quality due to excessive rush on the website because of the coronavirus lockdown. The default video quality is low. Udacimak, in turn, is downloading a

[2020-03-26 05:11] byouk-thouk opened #88 "I'm stuck in this stage, please help me."
`isdsgn@isdsgn-VirtualBox:~$ udacimak render "home/isdsgn/User Experience Nanodegree v1.0.0"
2020-03-26T05:06:40.576Z [error]: ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse (/usr/local/lib/node_modules/udacimak/lib/commands/render/functions/renderCourse.js:43:11)
`

[2020-03-26 07:45] ayushbathrey commented on #78
It's working fine now.

[2020-03-26 07:45] #78 closed

[2020-03-26 07:48] udacimak commented on #87
I don't think adding the quality parameter will help because Udacimak already tries to get the best available quality video - it only fallback to lower quality video if the higher quality one is not available.

Good to know that Youtube has put restrictions on video quality - I noticed Udacimak download very low videos but didn't know exactly why.

[2020-03-26 07:50] udacimak commented on #88
It simply means the specified path to the downloaded directory doesn't exist, could you check the parameter given to the `render` command

[2020-03-26 07:59] Abhishekdm commented on #78
Hey even I'm facing the same problem. How did you fix?

[2020-03-26 08:01] ofarukcaki commented on #78
@ayushbathrey How did you fix?

[2020-03-26 08:24] ayushbathrey commented on #78
![image](https://user-images.githubusercontent.com/36703927/77625234-39314180-6f69-11ea-8124-61657d0f9c98.png)

[2020-03-26 08:27] ayushbathrey commented on #78
It is working properly and here is the version of node, npm , udacimak that I am currently installed.
![image](https://user-images.githubusercontent.com/36703927/77625490-b066d580-6f69-11ea-86ad-6713e58d55ca.png)

[2020-03-26 08:28] ayushbathrey commented on #78
All I did was re-installed node.

[2020-03-26 11:49] byouk-thouk commented on #88
Thanks, I got it.

[2020-03-26 11:49] #88 closed

[2020-03-26 18:21] adamcatley commented on #87
I noticed the same issue today and have found a workaround is to revert the 2 changes in commit 9a64f45. An alternative solution is to revert to the previous version of udacimak 1.4.5 for now using:
 `npm install -g udacimak@1.4.5`

With both of these options udacimak will download 720p files instead of 360p.

My guess is the current Youtube quality restrictions have changed the expected formats f

[2020-03-26 19:00] pranjalchaubey commented on #87
Thanks @adamcatley .....I will try to revert to the previous version of the Udacimak and see how it goes.

[2020-03-26 21:20] pratikwatwani commented on #66
Seems that I have the same issue on Mac.

<img width="1495" alt="image" src="https://user-images.githubusercontent.com/16489964/77697872-077aa380-6f86-11ea-8056-874313bdec42.png">

[2020-03-26 21:23] pratikwatwani opened #89 "Path Error"
Seems like I have the issue of path to download Udacity Course:

<img width="1495" alt="image" src="https://user-images.githubusercontent.com/16489964/77698062-59bbc480-6f86-11ea-9d66-bcd233e93f0d.png">

An old issue similar to mine was closed, [ERROR:Path to downloaded Udacity course/Nanodegree doesn't exist.](https://github.com/udacimak/udacimak/issues/50)

I'm using Mac OS.

Can someone suggest

[2020-03-27 00:05] udacimak commented on #89
Please detail all the steps and commands that you have used so I can have a look

[2020-03-27 02:12] aiolar commented on #83
i am running a windows OS. i had to use my powershell to get chocolatey, since it is the package mananager that can allow me download nvm. when i ran NVM to install node, it did install the 64 bit version. Then i ran nvm install udacimak and then it told me that udacimak was 32 bit. now i do not know what next to do

[2020-03-27 02:14] aiolar commented on #83
![Screenshot (33)](https://user-images.githubusercontent.com/31485967/77714311-032ba600-6fd9-11ea-8f0a-18a07ac53c2f.png)

[2020-03-27 02:26] udacimak commented on #83
@aiolar please read nvm documentation on how to use nvm. `nvm install udacimak` is not a valid command - nvm is not able to directly install npm packages. You'll need to install Node JS first then use `npm` to install Udacimak

[2020-03-27 02:26] #83 closed

[2020-03-27 05:18] pratikwatwani commented on #89
Hi, I got it solved! Thank you!

[2020-03-27 05:18] #89 closed

[2020-03-27 09:07] DivyeshXD opened #90 "npm WARN deprecated request, npm WARN deprecated mkdirp"
![udacimak failure](https://user-images.githubusercontent.com/18249768/77739937-600a7900-7038-11ea-95f1-05208692f49b.PNG)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5. _(Add more or edit as appropriate)_

**Expected behavior**
A clear and concise

[2020-03-27 09:08] #90 closed

[2020-03-27 09:15] DivyeshXD opened #91 "npm WARN deprecated request, npm WARN deprecated mkdir while installing udacimak"
![udacimak failure](https://user-images.githubusercontent.com/18249768/77740604-8a106b00-7039-11ea-8beb-073b757942ac.PNG)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5. _(Add more or edit as appropriate)_

**Expected behavior**
A clear and concise

[2020-03-27 20:01] ahmedhany7 opened #92 "failed on downloading youtube video"
on running render command

- Delaying Youtube download for further 0.0 seconds
- Getting Youtube video id 9QadFJRKrEA information
× Getting Youtube video id 9QadFJRKrEA information
2020-03-27T19:53:27.260Z [error]: ERROR: Command failed with UNKNOWN: C:\Users\ahmed\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin\youtube-dl.exe --dump-json -f best -f=22/18/17 --encoding utf8 h

[2020-03-27 20:41] trydalch opened #93 "Unable to render course"
Attempting to run this using the WSL on Windows 10.

[code]

[2020-03-27 21:27] ahmedhany7 commented on #92
solved by replacing youtube-dl.exe from here http://ytdl-org.github.io/youtube-dl/

[2020-03-27 21:49] ahmedhany7 commented on #93
download youtube-dl.exe from here http://ytdl-org.github.io/youtube-dl/
then replace it

[2020-03-27 21:54] trydalch commented on #93
I ended up doing the download on my mac instead and the renders are running.

It times out quite often, but then I just restart it and it keeps going.

From: Ahmed Hany <notifications@github.com>
Reply-To: udacimak/udacimak <reply@reply.github.com>
Date: Friday, March 27, 2020 at 3:49 PM
To: udacimak/udacimak <udacimak@noreply.github.com>
Cc: trydalch <trevor.rydalch@outlook.com>, Author <author@n

[2020-03-28 07:37] aNerdgirl opened #94 "Render: exit code 3221225781"
After running the render command, I get the following error:
exit code 3221225781

npm -v
6.13.4
node -v
v12.15.0
udacimak -v
v1.5.0

Updated the youtube-dll.exe as well.
Still the same error.

Already tried to reinstall, as well as everything suggested here:
https://github.com/udacimak/udacimak/issues/78

It worked with a different course, but not with Introduction to Machine Learning with Tensor

[2020-03-28 16:45] sin2akshay commented on #87
Thank you so much! Reverting to that version worked. It is now downloading in 720p

[2020-03-28 19:51] Niennaz commented on #87
I have the same problem, I'm getting videos at 360p quality instead of 720p.
Rolling back to 1.4.5 worked for a few videos but I stumbled upon error 500 and was unable to get the full nanodegree.

[2020-03-28 19:59] theexiile1305 commented on #87
I just tried the approach from @adamcatley  out and it worked for me. I can download the videos with a resolution of 720p.
@Niennaz Which course are you going to download? I had no issues at all.

[2020-03-28 20:10] adamcatley commented on #87
@Niennaz  that is a known issue which will be fixed soon according to #79.

For now, and while on 1.4.5, you will need to manually apply the change in commit revelationnow@ad81d21 to add a fallback to 360p.

[2020-03-28 21:33] CodigoMatriz commented on #87
For now, I re-wrote the download section of the downloadYoutube.js file to use the bin instead of the stream and grab `bestvideo+bestaudio` and it's working fine for me downloading 1080p videos.

Even on `1.4.5` you can get a 500 error from YouTube trying to download the `best` video at 720p.

[code]

[2020-03-28 21:47] adamcatley commented on #87
@CodigoMatriz  Would you be able to share the changes you made to downloadYoutube.js please? I tried something similar but couldn't get youtube-dl to download `bestvideo+bestaudio` (format 140/137) successfully.

I would much prefer 1080p and this would help solve the original request in this issue:

[2020-03-28 22:19] CodigoMatriz commented on #87
@adamcatley
You can check the change I made here:
https://github.com/CodigoMatriz/udacimak/commit/ea41cbabb56a202673d52b0b69f7b8142d27557c

I need to add the verbose flag to this, once I do that, I'll submit a PR for this.

[2020-03-29 01:48] phommata commented on #39
I am running into this issue too still after updating to the latest npm.
udacimak -v
/usr/local/lib/node_modules/udacimak/lib/index.js:31
_commander.default.command('download').description('Fetch course/Nanodegree data from Udacity and save them locally as JSON files.').arguments('[courseid...]').option('-t, --targetdir <targetdir>', 'Target directory to save downloaded course JSON data').action(a

[2020-03-29 09:47] udacimak commented on #94
Could you email all the JSON data of the _Introduction to Machine Learning with TensorFlow_ course to udacimak@tutanota.com?

[2020-03-29 11:11] aNerdgirl commented on #94
Sorry for causing any trouble, I solved it myself. I was missing some dependencies for the youtube-dll to work.
Thanks!

[2020-03-29 11:11] #94 closed

[2020-03-30 07:25] GeeR13 opened #96 "Install giving me an error"
when running “npm install -g udacimak” to install udacimak I get the error below.

![image](https://user-images.githubusercontent.com/37272511/77885901-c05a1000-721c-11ea-87d9-0768b0d21be0.png)

[2020-03-30 08:24] atul219 opened #97 "Video Quality"
Hi,

I am using this command
udacimak render "Directory" on hyper terminal
and the videos are downloaded but the quality is not good.

So can you help me how to download high-quality video?

[2020-03-30 09:51] udacimak commented on #97
Duplicate of #87

[2020-03-30 09:57] udacimak commented on #96
Please detail the issue as in the original template when you open an issue

[2020-03-30 10:51] josemejiasji commented on #93
Hi, I have the same issue in macos 10.15.4. I think is related to youtube-dl version.

[2020-03-30 11:47] kevinlaiGH opened #98 "STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist."
**The bug**
Path to downloaded Udacity course/Nanodegree doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
1.  `udacimak render /Users/kevinlai/Documents/Full-Stack Developer v1.0.0`
2. `2020-03-30T11:42:43.282Z [error]: ERROR: Path to downloaded Udacity course/Nanodegree doesn't exist.
STACK: Error: Path to downloaded Udacity course/Nanodegree doesn't exist.
    at renderCourse (/

[2020-03-30 11:50] kevinlaiGH commented on #98
Solve it by putting this in terminal:
`"udacimak render "/Users/kevinlai/Documents/Full-Stack Developer v1.0.0"`

[2020-03-30 11:50] #98 closed

[2020-03-30 12:26] josemejiasji commented on #93
My issue was with OpenSSL. I manage to fix it following this: https://stackoverflow.com/questions/59269208/errorrootcode-for-hash-md5-was-not-found-when-using-any-hg-mercurial-command

[2020-03-30 14:23] harikrishna1999 commented on #96
after installing
node.js
while running npm install -g udacimak
im getting this error
![image](https://user-images.githubusercontent.com/33798664/77923406-0b792f00-72c0-11ea-8b7a-80a69f597318.png)

[2020-03-30 17:15] Kahol-g commented on #97
Hey @atul219
as a workaround you can  achieve this by making minor changes in the codebase

first of all remove the fourth parameter in [here](https://github.com/udacimak/udacimak/blob/master/src/commands/utils/downloadYoutube.js#L23)

`, format = '22/18/17'`

and make [argsYoutube an empty array](https://github.com/udacimak/udacimak/blob/master/src/commands/utils/downloadYoutube.js#L50)

`  const

[2020-03-31 06:04] EmreBayat opened #99 "ERROR: read ECONNRESET"
**Describe the bug**

![image](https://user-images.githubusercontent.com/7987021/77992345-8e38d300-732e-11ea-8289-94862e2377b0.png)

udacimak error log.

------------------------------------------------------------------------------------------------
2020-03-31T05:52:45.517Z [[31merror[39m]: ERROR: read ECONNRESET
CODE: ECONNRESET
STACK: Error: read ECONNRESET
    at TLSWrap.onStreamRead (intern

[2020-03-31 07:30] MdTalhaZubayer opened #100 "udacimak render issue"
× Getting Youtube video id 9QadFJRKrEA information
2020-03-31T07:17:17.124Z [error]: ERROR: Command failed with exit code 3221225781: C:\Users\mdt51\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin\youtube-dl.exe --dump-json -f best -f=22/18/17 --encoding utf8 http://www.youtube.com/watch?v=9QadFJRKrEA
STACK: Error: Command failed with exit code 3221225781: C:\Users\mdt51\AppD

[2020-03-31 07:59] MdTalhaZubayer commented on #100
I have got the solution myself. there are 2 cases here... in 1st case you have to update the youtube-dl.exe a replace it to

"C:\Users\blablabla\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin\youtube-dl.exe"

and in my case what is the second one you have to reinstall or install Microsoft visual c++ 2010 redistributable package (x64) and Microsoft visual c++ 2010 redistribut

[2020-03-31 07:59] #100 closed

[2020-03-31 08:01] MdTalhaZubayer commented on #93
https://github.com/udacimak/udacimak/issues/100#issuecomment-606465183

[2020-03-31 08:36] MdTalhaZubayer opened #101 "is there any way of downloading videos at 1080p"
please help if it is possible it sucks at 720p..thanks

[2020-03-31 12:23] GhaziXX commented on #99
You just need to retype the command and re-render at the same location, it will skip all the downloaded files and complete the rest! That worked for me

[2020-03-31 23:53] tungyt1 opened #103 "Docker Help - Noob at Docker"
I keep getting this error not sure if anyone has any advice here, I think something to do with the volume. I only started to look into using Docker...

Tung@Tungs-MBP:~$ docker container run -it -v "$(pwd)/:/downloads" udacimak/udacimak download nd197
2020-03-31T23:38:30.392Z [warn]: Udacity authentication token hasn't been set.
? Enter Udacity authentication token (Log in to Udacity website and f

[2020-03-31 23:54] tungyt1 opened #104 "Docker Issue - Docker Noob"
I keep getting this error not sure if anyone has any advice here, I think something to do with the volume. I only started to look into using Docker...

Tung@Tungs-MBP:~$ docker container run -it -v "$(pwd)/:/downloads" udacimak/udacimak download nd197
2020-03-31T23:38:30.392Z [warn]: Udacity authentication token hasn't been set.
? Enter Udacity authentication token (Log in to Udacity website and f

[2020-04-01 00:54] #103 closed

[2020-04-01 02:28] MdTalhaZubayer commented on #97
"Hey, I think it's for Linux/mac. Because it is not working on windows... please help me if its possible to do on windows

[2020-04-01 02:28] MdTalhaZubayer commented on #97
"Hey, I think it's for Linux/mac. Because it is not working on windows... please help me if it's possible to do on windows

[2020-04-01 02:53] MdTalhaZubayer opened #105 "Getting [error]: ERROR: status code 500"
After downloading some of the files I'm getting this error...

I'm using Windows 10..1909
and the node version is ...12.16.1

[code]

there was a similar issue listed here https://github.com/udacimak/udacimak/issues/99#issuecomment-606593515

@GhaziXX is saying You just need to retype the command and re-render at the same location, it will skip all the downloaded files and complete the rest!

but

[2020-04-01 07:22] udacimak commented on #99
@EmreBayat Please send all your JSON data files to udacimak@tutanota.com so I can check if it works on my machine.

[2020-04-01 13:24] miguelusque commented on #45
Hi,

I am performing a test which seems to be working so far.

In this file:

https://github.com/udacimak/udacimak/blob/master/src/commands/utils/downloadYoutube.js

I have changed line #23 from:

`export default function downloadYoutube(videoId, outputPath, prefix, title, format = '22/18/17') {`

to:

`export default function downloadYoutube(videoId, outputPath, prefix, title, format = 'best/22/1

[2020-04-01 23:33] #104 closed

[2020-04-02 12:01] goldenguy123 commented on #105
I have same issue
 plz fix

[2020-04-02 14:59] atul219 opened #106 "Rendering issue ERROR: status code 500"
I am getting this same error on rendering on same file and I have tried many times.

✖ Getting Youtube video id DDxsC03d_KU information
2020-04-02T14:52:40.833Z [error]: ERROR: status code 500
STACK: Error: status code 500
    at Request.response (C:\Users\Atul\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\lib\youtube-dl.js:67:35)
    at Request.emit (events.js:315:20)
    at R

[2020-04-02 15:06] atul219 commented on #105
I am getting this same issue.
Any solutions?

[2020-04-02 15:06] #106 closed

[2020-04-03 14:47] EmreBayat commented on #99
i will fix it with this.

https://github.community/t5/Programming-Help-and-Discussion/TLSWrap-onStreamRead-internal-stream-base-commons-js-111-27/td-p/23882

[2020-04-03 14:49] EmreBayat commented on #99
is there any method learning nanodegree version which didnt enrolled.
udacimak listnd only shows currently enrolled nanodegree id and version.

[2020-04-03 22:29] zhangchi0605 commented on #97
I still suffering of this quality problem, wenn could I expect to have a new version of udacimak that fix this problem? That would be great.

[2020-04-03 22:31] zhangchi0605 commented on #97
Hi Could you explain a litte bit more, where can find the "codebase" and how can I "run npm build from parent directory "

[2020-04-04 10:27] PaulinoRBJ commented on #96
I'm getting this error too!

[2020-04-04 15:05] alfredsasko opened #107 "Columns in drag and drop quizzes are swapped"
**Describe the bug**
Each drag and drop quizzes have 2 columns where they values are swapped, means column 1 contains values of column 2 and vise versa. See attached screen shot. Left side is rendered right side is original.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nvm-windows
2. Install udacimak v1.4.5 (to have video quality 720pxls)
3. Download and render nd025 (dsnd)

**Exp

[2020-04-04 15:23] alfredsasko opened #108 "Broken LateX tables after rendering"
**Describe the bug**
The tables which are originally formatted in Latex using "|--|" notation are broken after rendering. See image.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nvm-windows
2. Install udacimak v1.4.5 (to have video quality 720pxls)
3. Download and render nd025 (dsnd)

**Expected behavior**
Rendered successfully, need to check content (see screen-shot)

**Desktop (

[2020-04-04 15:28] alfredsasko opened #109 "Quizzes question does not render unknown quizzes type."
**Describe the bug**
After rendering some of the quizzes questions has not been rendered showing unknown quizzes type description. See screen-shot.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nvm-windows
2. Install udacimak v1.4.5 (to have video quality 720pxls)
3. Download and render nd025 (dsnd)

**Expected behavior**
Rendered successfully, need to check content (see screen-sho

[2020-04-05 04:57] udacimak commented on #108
Thanks @alfredsasko
This is Markdown code, not LateX.

The issue is due to wrong Markdown formatting written by Udacity. The second line should be this instead:

[code]

I'm not sure how Udacity's Markdown renderer still renders the wrong syntax.
To correct the presentation of the table, you can go directly into the relevant `data.json` file and fix the syntax then run the `render` command again.

[2020-04-05 04:57] #108 closed

[2020-04-05 04:59] udacimak commented on #109
Could you please send me all the `data.json` files to udacimak@tutanota.com?
Please also let me know exactly where to find this quiz (You can give me the `url` that shows up when you open this page)

[2020-04-05 18:05] rloterh commented on #45
@udacimak Video quality is still very bad. In the case of video demonstrating code or IDE, the writing are invisible. only '22' should be fine
![image](https://user-images.githubusercontent.com/12745474/78506257-48fd1280-772d-11ea-8013-81ad57f2e858.png)

[2020-04-05 20:34] miguelusque opened #110 "Update youtube-dl depencency to 3.0.2"
Hi,

It might be useful to update youtube-dl dependency to 3.0.2

It might solve some errors found while downloading videos at higher resolutions

Hope it helps!
Miguel

[2020-04-06 06:21] EmreBayat commented on #105
Could you pleasse auth token. I can download for you?.

[2020-04-06 15:54] abenacamp commented on #110
Please can you help me to download, beacause i am getting an error message error code 5000

[2020-04-07 09:15] #87 closed

[2020-04-07 10:14] udacimak commented on #110
Updated in 9835e7216eed268c24eab2b082076050c915c1ca

[2020-04-07 10:14] #110 closed

[2020-04-07 10:17] udacimak commented on #105
@MdTalhaZubayer I just released an update for Udacimak. Can you please update and re-try to `render`?

[2020-04-07 10:18] udacimak commented on #107
Could you please send me all the `data.json` files to udacimak@tutanota.com so I can have a look?

[2020-04-07 10:19] udacimak commented on #101
Unfortunately, it's not possible with `youtube-dl`

A while ago I did also try to use another software to try downloading Youtube videos but they also only come out as 720p

[2020-04-07 10:19] #101 closed

[2020-04-07 10:20] udacimak commented on #97
Fixed in 2e467ee945592d434833580171e48b3233fd24ca

Please update your Udacimak

[2020-04-07 10:20] #97 closed

[2020-04-07 10:21] udacimak commented on #92
I have just released an update for Udacimak that may have fixed this. Can you try uninstalling Udacimak and install it again to see if this error has been solved?

[2020-04-07 10:51] miguelusque commented on #110
Thank you!!!!!!

[2020-04-07 13:00] stefanheyer opened #113 "error when requesting list of NDs with listnd"
udacimak version 1.6.0

thank you in advance for feedback

when I run:

udacimak listnd

I get:

⠴ Fetch user information via Udacity API2020-04-07T12:52:25.759Z [error]: uncaughtException: Unexpected token a in JSON at position 0
SyntaxError: Unexpected token a in JSON at position 0
    at JSON.parse (<anonymous>)
    at Request._callback (/home/__/stefan.heyer/.nvm/versions/node/v13.9.0/lib/node

[2020-04-07 13:06] 1871vinayak commented on #73
@Abhishekdm @udacimak
Could you please send me the JSON files to sk20011999@gmail.com so that i can test it on workspace for any issue..

[2020-04-07 13:17] stefanheyer commented on #113
btw... I get the same error when trying to download anything with "udacimak download nd***"

[2020-04-07 13:20] stefanheyer commented on #105
I had the same error previously. Unfortunately updating hasn't resolved it yet.

[2020-04-07 13:22] 1871vinayak commented on #92
Yeah there's an update `v1.6.0` with fix for this issue you can follow the steps to get it working for you.
- Uninstall
`npm uninstall -g udacimak`
- Install
`npm install -g udacimak`

[2020-04-07 13:25] 1871vinayak commented on #93
There's an update `v1.6.0` with fix for this issue you can follow the steps to get it working for you.
- Uninstall
`npm uninstall -g udacimak`
- Install
`npm install -g udacimak`

[2020-04-07 13:35] 1871vinayak commented on #96
@GeeR13
Yeah there's an update `v1.6.0` .
You can follow the steps to get it working for you.
- Uninstall
 `npm uninstall -g udacimak`
- Install
 `npm install -g udacimak`

Alternate method is: [**This will surely solve this issue**]
-  Uninstall udacimak if you have installed it globally:
`npm uninstall -g udacimak`
- Install Node and npm. Installing via nvm is highly recommended:
    - ` https:/

[2020-04-07 13:44] 1871vinayak commented on #105
@MdTalhaZubayer
You can try the latest update, i think it might fix the issue, as replied by @udacimak . 👍
If it fails or the issue resists the send me the JSON files to sk20011999@gmail.com so that i can test it on my workspace for any issue..

@stefanheyer
 Could you please send me the JSON files to sk20011999@gmail.com so that i can test it on my workspace for any issue..

[2020-04-07 13:54] 1871vinayak commented on #113
@stefanheyer
 Could you please send me the `Udacity authentication token` to sk20011999@gmail.com or in the reply box so that i can test it on my workspace for the above stated issue..

You can get the ` Udacity authentication token ` by visiting the link below 👇  and following the steps:
https://github.com/udacimak/udacimak/wiki/How-to-Use#settoken-set-udacity-authentication-token

[2020-04-07 13:58] stefanheyer commented on #113
@1871vinayak thank you for the quick response. While you were responding I figured that my token probably expired. I am currently resetting it and will check if this resolves the problem (It probably will). Please be aware of the fact that the Udacity authentication token is strictly personal **can not be shared**. Nevertheless, thank you for the support.

[2020-04-07 14:05] stefanheyer commented on #113
Indeed as expected my token had expired. I fixed my issues with `listnd` and `download` by resetting it. Unfortunately, the status 500 error remains unresolved.

[2020-04-07 14:08] stefanheyer commented on #113
Indeed as expected, my key had expired. By resetting it I managed to fix my `listnd` and `download` error. Next time I will read the documentation more carefully before opening an issue. My bad :)

[2020-04-07 14:08] #113 closed

[2020-04-07 14:09] 1871vinayak commented on #113
@stefanheyer
I very well know that the Udacity authentication token is strictly personal, As i was trying to help you i needed the JSON files for testing it but according to your first comment you were unable to download the JSON file so i cannot expect it from you so that's why i asked for the Udacity authentication token to rectify the issue.
And from next time make sure you open valid issue wit

[2020-04-07 14:14] stefanheyer commented on #113
@1871vinayak will do. Thank you for the feedback and super fast assistance.

[2020-04-07 14:35] atul219 commented on #105
Still getting this same error after updating Udacimak.

[2020-04-07 17:42] 1871vinayak commented on #105
@atul219
 Could you please send me the JSON files to sk20011999@gmail.com so that i can test it on my workspace for any issue..

[2020-04-07 17:46] MdTalhaZubayer commented on #105
I have already sent those JSON files please check your mailbox bro

[2020-04-07 22:50] udacimak commented on #99
@EmreBayat You can only download the Nanodegrees that you have access to.

[2020-04-07 22:50] #99 closed

[2020-04-07 22:53] udacimak commented on #73
I'm closing this issue, it can be resolved as below

[2020-04-07 22:53] #73 closed

[2020-04-07 23:00] abenacamp commented on #105
@MdTalhaZubayer which particular course are  you have trouble downloading it

[2020-04-08 00:01] MdTalhaZubayer commented on #105
Front End Developer, nd0011

[2020-04-08 01:39] 1871vinayak commented on #105
@MdTalhaZubayer
I have tested it, and found the same issue, could you please re-download the JSON files and give it a try, i think there is an issue withe the JSON files, if not then its a problem with youtube-dl.
so please give it a try once.

[2020-04-08 01:51] MdTalhaZubayer commented on #105
I have tried it several times

[2020-04-08 01:53] 1871vinayak commented on #105
@MdTalhaZubayer
Wait i got it what the issue is, actually its an `Server side youtube error` Please give me some time so that i can fix it.

[2020-04-08 07:21] udacimak commented on #105
Thanks @1871vinayak for the pull request to fix this issue.

However, for some reason when I try rendering with the new code, the video quality goes down to 640x360. If I leave the `best[height=1080]` code in place, then the video quality will stay at 1280x720. Is this the same on your end?

I've reverted the `merge` of  your pull request. This issue will needs further inspection.

[2020-04-08 07:52] atul219 commented on #105
@1871vinayak  Still getting the same error at the same exact module.

[2020-04-08 10:50] udacimak commented on #105
I have updated Udacimak and the issue should be fixed. Please update Udacimak and render the course again.

[2020-04-08 10:50] #105 closed

[2020-04-08 11:38] 1871vinayak commented on #105
@udacimak Yes i also tested for rendering new code and got the same error.
but with your latest update the quality is again goes down to 360p

[2020-04-08 11:41] hantatsang commented on #105
@1871vinayak could you please check again.

In this new version, if it can't download the 720p video, it will revert back to download 360p. So some videos might be 360p while (most) other videos will be 720p

[2020-04-08 11:45] 1871vinayak commented on #105
@atul219  Actually its an Server side youtube error which doesn't provide the resolution we are asking for which is [720p]. but provides [360p] instead , as @udacimak released an update with the fix that it will not throw any error but the download quality will be degraded to 360p, I suggest u to first try the latest update version to check for the results.

[2020-04-08 11:48] 1871vinayak commented on #105
Have you tested it ???

[2020-04-08 11:49] 1871vinayak commented on #105
Please send the results!!!

[2020-04-08 15:02] WoHotan opened #115 "can not download nd via"
**Describe the bug**
can not download nd via docker command.

**To Reproduce**
Steps to reproduce the behavior:
1. docker pull udacimak/udacimak
2. docker container run -it -v "$(pwd)/:/downloads" udacimak/udacimak download nd256
3. 2020-04-08T14:49:56.509Z [error]: uncaughtException: Unexpected token < in JSON at position 0
SyntaxError: Unexpected token < in JSON at position 0

[code]

**Desktop

[2020-04-08 23:18] udacimak commented on #115
Hi @WoHotan

I suspect that this might be some issue from inside the Docker image itself. Are you able to try downloading the Nanodegree directly with Node.JS your computer to test if it works? If that's the case I can have a look at the Docker image. Right now it's working on my end so I'm not sure where to start to debug

[2020-04-09 04:13] yumengdong commented on #92
The new version fixed this issue. However, when I tried to update the version, ```npm install -g udacimak``` or ```sudo npm install -g udacimak``` gave me permission error. Similar to [issue1](https://github.com/udacimak/udacimak/issues/1)
I had to use yarn:
[code]

[2020-04-09 04:16] udacimak commented on #92
Yes this issue has happened in the past but I'm not sure what's causing it, probably not Udacimak.

Good to hear that Youtube download is working for you now.

[2020-04-09 04:18] yumengdong commented on #96
I had the same issue. You can used yarn to install:
[code]

[2020-04-09 15:08] wael-abdin opened #116 "subtitles not download through Udacity ND"
I used the following command to render the Front End nanodegree course after download it :

[code]

It downloaded the course but without any subtitles !
What is the problem ?
![Screenshot from 2020-04-09 17-00-05](https://user-images.githubusercontent.com/34836253/78909987-8f7fa380-7a84-11ea-8c0e-cbb4063ee201.png)

[2020-04-09 16:12] WoHotan commented on #115
I use yarn global add udacimak
Run command `udacimka`,have an ENOENT error:  no such file or directory, open '/Users/wenxunqing/.config/yarn/global/node_modules/youtube-dl/bin/details'
[code]

[2020-04-10 00:43] udacimak commented on #116
After you run the `render` command with `--subtitles` parameter, when the CLI downloads Youtube videos, do you see it says it's downloading subtitles like below?

[code]

[2020-04-10 02:47] wael-abdin commented on #116
yes, It says Download Subtitles for each video, but no thing actually downloaded

[2020-04-10 02:48] udacimak commented on #116
I suspect that there are no subtitles for those videos maybe? Could you send all the `data.json` files to udacimak@protonmail.com so I can test on my computer?

[2020-04-10 05:54] pchauhan77 opened #117 "Failed to download youtube video"
i am trying to downloading udacity full stack web developer nanodegree.
getting this error:
`× Getting Youtube video id 9QadFJRKrEA information
2020-04-10T05:54:42.345Z [warn]: Failed to download Youtube video at best quality, retrying with low quality format`

[2020-04-10 05:57] udacimak commented on #117
That's what happens when the best quality of the Youtube video is not available to download and the CLI will try to download a lower quality version instead.

For some reason, a few videos are not available in a high-quality format.

So unless the CLI fails to even download a low-quality format, this is normal behavior.

Let me know if the CLI fails with low-quality video, too?

[2020-04-10 10:12] wael-abdin commented on #116
first of all, thank you very much for your kindly support and fast respons.
regarding to your last reply :
the video course have a subtitles.
the following is explaination why i am sure that it have a subtitles:

i was intend to dowload two nano degree courses.
i already download the first course, but i noted that half of the course downloaded with subtitles perfectly and the other half without su

[2020-04-10 13:24] pchauhan77 commented on #117
how can i change the quality of video when download.
i am running this command : udacimak render "D:\pc\udacity\Full-Stack Developer v1.0.0" --targetdir "D:\pc\udadownload"

[2020-04-11 00:33] udacimak commented on #117
I didn't provide a parameter for choosing Youtube video.

The CLI will always try to get the best possible quality - which is 1280x720p. The fallback quality is 360p in height

[2020-04-11 04:28] GeeR13 commented on #96
this worked, i ran npm list udacimak and it came back with
/Users/GeeR13
└── (empty)
I then ran udacimak --version and i got
-bash: udacimak: command not found

any ideas?

[2020-04-11 10:27] jagadeeshsandireddy opened #119 "when u try to set token getting error previously its working fine 3 days ego but today getting error"
![Screenshot (341)](https://user-images.githubusercontent.com/33963028/79041395-2d05df00-7c0d-11ea-8ca8-33a04bcc4d24.png)
Getting this error when u try to set token

[2020-04-11 10:40] udacimak commented on #116
I tried to `render` but the subtitles are also not downloaded.

I tried to directly use [`youtube-dl`](https://youtube-dl.org/) to download the video with subtitles, but it's also not successful:

[code]

So for some reason the subtitles are not available for download - even though when I watch the video on Youtube, it does have subtitles.

I can't resolve this issue but you can open an issue on `

[2020-04-11 10:40] #116 closed

[2020-04-11 10:42] udacimak commented on #119
Could you try uninstalling and re-install Udacimak?

[2020-04-11 19:13] pchauhan77 commented on #117
then what is the solution? I want to download this course.

[2020-04-12 02:27] jagadeeshsandireddy commented on #119
uninstalling and re-install worked thank you

[2020-04-12 02:27] #119 closed

[2020-04-12 02:56] udacimak commented on #117
What exactly do you want to do? You still can download the course - the CLI tries to get the best available youtube video already.

Does the CLI crash at Youtube downloads when you `render`?

[2020-04-12 05:03] imfool456 opened #120 "where can I find the subtitle file"
I use -s option. I can download everything correctly. I saw subtitles has been downloaded. But I didn't see this file. When play, I didn't see the option I can turn on cc. Also I setup web server, I didn't see subtitle either. Did I miss anything? Thanks!

---
✔ Getting Youtube video id ZE_U_036EBA information
 ████████████████████████████████████████ 100% | ETA: 0s | 6401324/6401324
2020-04-12T00

[2020-04-12 05:28] pchauhan77 commented on #117
Yes, This is the error I am facing...
![Screenshot (39)](https://user-images.githubusercontent.com/12031880/79061300-76593b80-7cac-11ea-9d93-15c0dc2f1be4.png)
acing

[2020-04-12 05:30] udacimak commented on #117
Could you please send all the JSON files to udacimak@protonmail.com? I can have a look

[2020-04-12 05:45] pchauhan77 commented on #117
sent. please check your email

[2020-04-12 06:06] udacimak commented on #120
Could you please send all the JSON files to udacimak@protonmail.com? I can have a look

[2020-04-12 09:54] Syed-Hazim opened #121 "Unexpected Token error(Parsing error)"
Any commands with udacity-dl produce the following output

![image](https://user-images.githubusercontent.com/63338631/79065885-45d7c880-7cd1-11ea-9745-a1c0341fc2a4.png)

 - OS: Linux Mint
 - Node version: (`v8.10.0`)
 - npm version: (3.5.2)
 - Udacimak Version: (`udacimak --version`)On running this command the output is the attached screenshot
 - Browser [Firefox]

**Course Information**
 - Nanod

[2020-04-12 10:51] 3lv27 commented on #121
You need to update your node version, I recommend you to use v.12.16.2 which is currently the LTS.  Let me know if that works.

[2020-04-12 19:05] Syed-Hazim commented on #121
That worked! Thanks a ton! Do Appreciate this : )

[2020-04-12 19:05] #121 closed

[2020-04-13 01:08] MdTalhaZubayer opened #122 "Video quality is low."
I think you should use the video quality as 137/136/135 and merge the audio 140 using "+". like this youtube-dl -f 137+140 url . Please try it hope it will work. or use youtube-dl -F url to get list of all available video formats. I have tried it with npm run build by changing the downloadYoutube.js code

[error]: ERROR: Command failed with exit code 1: C:\udacimak-master\node_modules\youtube-dl\b

[2020-04-13 03:42] udacimak commented on #120
So I've checked and I've seen this issue before.

For some reason, `youtube-dl` can't download subtitles for some videos. So, unfortunately, Udacimak can't solve this issue on its own

[2020-04-13 07:03] imfool456 commented on #120
thanks! I'll manually download the subtitle if need.

[2020-04-13 10:28] udacimak commented on #122
I tried your approach directly with `youtube-dl`:

[code]

You can see the WARNING says that in order for `youtube-dl` to merge video and audio files together, `ffmpeg` or `avconv` needs to be installed on the local machine.

I would do it if no extra stuff that is required to be installed, but looks like there are though.

[2020-04-13 10:29] #120 closed

[2020-04-13 13:54] chetanvn commented on #117
Am facing the same issue. The warning message runs on loop. I stopped it after half an hour yet there was no video in the target folder.

[2020-04-13 14:00] abenacamp commented on #120
when the subtitle is downloaded to see it on the videos or use it use chrome web server to open to the folder and when it is playing the subtitles will show thanks

[2020-04-13 14:54] MdTalhaZubayer commented on #122
you need FFmpeg to work with this method

On Mon, Apr 13, 2020 at 4:29 PM udacimak <notifications@github.com> wrote:

[2020-04-13 15:01] MdTalhaZubayer commented on #122
check this!

On Mon, Apr 13, 2020 at 8:54 PM ZUBAYER <mdt5131@gmail.com> wrote:

[2020-04-13 15:02] MdTalhaZubayer commented on #122
![1](https://user-images.githubusercontent.com/46759621/79131234-15278a00-7dca-11ea-9db5-eeb9fb738ebd.png)
![2](https://user-images.githubusercontent.com/46759621/79131237-16f14d80-7dca-11ea-9e59-22ce9e5d12fd.png)
check them!

[2020-04-13 15:31] MdTalhaZubayer commented on #122
I have an idea but in this method, we have to download audio and video separately and merge them when the download is finished.like this -f 137 in the first round and -f 140 in the second round and safe all the path of the mp4 videos and mp4a audio in a json file and then run the ffmeg to merge the mp4 and mp4a .... with this command ffmpeg -i vidoefilepath.mp4 -i audiofilepath.m4a -c copy videona

[2020-04-13 17:24] pchauhan77 commented on #117
please resolve it or if anyone has this updated course (Udacity Full Stack Web Developer) please share

[2020-04-14 00:27] miguelangel commented on #120
Hi!

Could you please have a look at this issue again? I had previously downloaded a nanodegree with a previous version of udacimak (a couple of weeks ago), and now I cannot download the subtitles anymore.

Thanks!
Miguel

[2020-04-14 01:13] abenacamp commented on #120
add the option -st when rendering

[2020-04-14 01:20] imfool456 commented on #120
@abenacamp
do you mean we need to use -st option rather than 0-s?

-s, --subtitles               (Optional) Download Youtube video subtitles

[2020-04-14 01:29] abenacamp commented on #120
yeah

[2020-04-14 09:41] miguelusque commented on #120
Hi @abenacamp  ,

It doesn't work either.

Hi @udacimak ,

Could you please have a look at this issue? A couple of weeks ago, I was able to download the video subtitles with udacimak. With the latest version of udacimak, I cannot.

I have double checked I can download the subtitles with youtube-dl from command line:

youtube-dl https://www.youtube.com/watch\?v\=werDy_UpcMY --write-auto-sub

Thank

[2020-04-14 14:40] pranjalchaubey opened #123 "Latest version keeps crashing"
**Describe the bug**
I updated the Udacimak to the latest version.
Getting this error for any command I use,
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. updated Udacimak using the regular command `npm install -g udacimak`

**Expected behavior**
I expected Udacimak to 'work'.

**Udacimak Log**
No LOGs. It's not even getting started. Every command is throwing this error including `u

[2020-04-15 00:43] udacimak commented on #123
Can you try updating Node JS to the latest version?

[2020-04-15 06:09] shivam88877777 commented on #117
I am also facing the same issue. Please solve this issue asap, because my course is expiring soon.
![image](https://user-images.githubusercontent.com/53507630/79303759-52e0fb80-7f0d-11ea-96af-492e6e575181.png)

[2020-04-15 06:12] shivam88877777 commented on #117
Hey, @pchauhan77 I also need this course, but i am not able to download this course. Can u share it with me, if you have downloaded the course.

[2020-04-15 06:19] pchauhan77 commented on #117
still, I am unable to download

[2020-04-15 06:27] shivam88877777 commented on #117
I can also try, Please send me the json file to sk4672382@gmail.com

[2020-04-15 06:30] TechExhibeo commented on #117
I can confirm this is happening for both the Full-Stack Developer and Introduction to Programming Nanodegree Programs.
It stucks in the loop displaying the message.
[code]
http://prntscr.com/rzl8ec

[2020-04-15 06:33] shivam88877777 commented on #117
please share the Json file to sk4672382@gmail.com

[2020-04-15 06:56] pchauhan77 commented on #117
please check your email

[2020-04-15 08:15] shivam88877777 commented on #117
Thanks Pradeep, please check your email.

[2020-04-15 23:58] pranjalchaubey commented on #123
Everything worked just fine after updating to the latest node version.
Thanks!

[2020-04-15 23:58] #123 closed

[2020-04-16 04:10] jagadeeshsandireddy opened #124 "subtitles are downloaded but not playing"
used below command to download subtitles they are downloaded but not displaying in video
udacimak render "Data Scientist Nanodegree v3.0.0" --targetdir "Data Scientist Nanodegree v3.0.0 Output" --subtitles

[2020-04-16 05:55] hieutrinhds commented on #117
Hi shivam88877777 I have same issue, could you please share with me solution

[2020-04-16 07:08] shivam88877777 commented on #117
I don't have the solution, please request @udacimak  to solve this issue.

[2020-04-16 07:15] hieutrinhds commented on #117
Find a solution for me. I try to update youtube-dl manually
https://www.npmjs.com/package/udacimak/v/0.9.3#installation
https://prnt.sc/s0c0hg
If you have used youtube-dl before, delete youtube-dl.config file

[2020-04-16 08:32] shivam88877777 commented on #117
Is this worked for you?

[2020-04-16 15:16] hieutrinhds opened #125 "Link to data set for each lesson"
Link to data set for each lesson doesn't show up.
In each lesson that required to work with dataset, udacity provide link at the footer of page but when I downloaded t watch offline.
I would like to see link at the end of each page so I could easily track which dataset is working on.
https://prnt.sc/s0m8wp

[2020-04-17 00:26] udacimak commented on #124
Please check this:

- https://github.com/udacimak/udacimak/wiki/How-to-Use#watching-video-with-subtitles

[2020-04-17 15:15] abenacamp commented on #117
@shivam88877777 and pchauhan77 send your emails and i will send the courses to you

[2020-04-17 15:37] shivam88877777 commented on #117
Thanks a lot @abenacamp
sk4672382@gmail.com

[2020-04-17 16:47] pchauhan77 commented on #117
yashc0195@gmail.com

[2020-04-17 20:56] luimuori opened #126 "Failed to download Youtube video at best quality, retrying with low quality format"
Cannot download youtube files. I am always getting this error:
Failed to download Youtube video at best quality, retrying with low quality format

[2020-04-18 10:24] PyFinn commented on #117
Would be a pleasure for me if you'd send me the code too, as im facing the exactly same problem for the Full Stack Course :( Greetings. Email is: Finn.klapper77@gmail.com

[2020-04-18 23:01] christien12 commented on #117
Hi Udacimak, kindly check whether the error is due to the file format as most YouTube videos is mkv format.
I too am facing same problem.

[2020-04-18 23:03] christien12 commented on #117
Abenacamp I will appreciate if you can send me the course too.

[2020-04-19 05:40] jagadeeshsandireddy commented on #124
Okay Thank you

[2020-04-19 05:40] #124 closed

[2020-04-20 04:16] udacimak commented on #125
Could you annotate which section of the page that you're not seeing in the screenshot?

[2020-04-20 07:40] hieutrinhds commented on #125
![Screenshot](https://user-images.githubusercontent.com/44300818/79726382-e4d57380-8314-11ea-8698-912273a59c3e.png)

[2020-04-21 03:43] gwurb commented on #126
Same here.

× Getting Youtube video id <removed> information
2020-04-21T03:32:23.130Z [warn]: Failed to download Youtube video at best quality, retrying with low quality format
× Getting Youtube video id <removed> information
2020-04-21T03:32:23.243Z [warn]: Failed to download Youtube video at best quality, retrying with low quality format

I can confirm that the video id is valid and exists. I ca

[2020-04-21 03:47] gwurb commented on #117
Same here.

× Getting Youtube video id information
2020-04-21T03:32:23.130Z [warn]: Failed to download Youtube video at best quality, retrying with low quality format
× Getting Youtube video id information
2020-04-21T03:32:23.243Z [warn]: Failed to download Youtube video at best quality, retrying with low quality format

It never downloads.

I can confirm that the video id is valid and exists. I c

[2020-04-21 14:05] gwurb commented on #117
Here is what I did that helped:
Update youtube-dl as per above instructions
Install MS VC++ 2010 redistrib package
https://www.microsoft.com/en-us/download/details.aspx?id=5555 (had to install 32 bit on 64 bit system)
Manually tried downloading one of the files, got an error using -f 'best' (syntax error?) so tried without -f (worked), and then tried -f best (worked). Tried udacimak and it worked.

[2020-04-22 09:38] chetanvn commented on #117
Hi all,
It worked for me when I tried using udacimak through a docker container. Since docker has the right ecosystem of software with compatible versions I would suggest to use docker.

Thanks @udacimak team!

[2020-04-22 09:49] pchauhan77 commented on #117
how can we use docker?

[2020-04-22 10:02] christien12 commented on #117
Hello, Kindly explain step by step how you got yours to work. I am new to programming.

Note: I downloaded the youtube-dl as adviced and the MS VC++ 2010 but it reports that I have a newer version so it did not install.

I ran udacimak but no luck.

[2020-04-22 10:04] christien12 commented on #117
Hi @chetanvn kindly explain how it can be done.

[2020-04-22 13:09] chetanvn commented on #117
You need to install docker first. Refer the link below
https://docs.docker.com/get-docker/

Once you have docker in your system, go through the contents with the header "Use Udacimak via Docker container" from the link below.
https://github.com/udacimak/udacimak/wiki/Install-&-Update

[2020-04-22 13:18] gwurb commented on #117
Is there a way to know what videos were downloaded in the lower quality, and have them re-downloaded? Is there a log file? Anything that can be used?

Thanks

[2020-04-23 17:29] #92 closed

[2020-04-25 03:44] kaflenitish opened #127 "Failed to download youtube video! ISSUE FIXED!"
Everyone around here have been dealing with the issue regarding youtube-dl and how they were not being able to solve the issue.
My head hurt when trying to fix it, tried in multiple devices, then finally worked!

If you are dealing that issue on a MacOS, then you need root access and follow the process!

The bug seems to be problematic for Windows here.

FIX:
![Annotation 2020-04-24 234143](https:

[2020-04-25 13:57] nchand opened #128 "Unable to login"
Installed udacimak using `sudo npm install -g udacimak --unsafe-perm=true --allow-root`

which installed :

Downloaded youtube-dl 2020.03.24
+ udacimak@1.6.2

     `udacimak login` produced the following error.
    /usr/lib/node_modules/udacimak/node_modules/fs-extra/lib/mkdirs/make-dir.js:86
      } catch {
              ^

     SyntaxError: Unexpected token {
     at createScript (vm.js:80:10)

[2020-04-25 15:40] zhanwenchen opened #129 "Unable to Invoke udacimak [error]: uncaughtException: Must use import to load ES Module:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Doing anything with udacimak, including udacimak --version

**Expected behavior**
Download my nd like I could in 1.6.0.

**Udacimak Log**
Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` files:

[code]

**Screenshots**
If applicable, add scree

[2020-04-25 15:56] zhanwenchen commented on #129
This may be an issue with the `esm` (ECMAScript) module change introduced in Node 12.16.x

[2020-04-25 17:47] nerddan opened #130 "Is there a place for users to share their downloaded courses?"

[2020-04-25 17:51] zhanwenchen commented on #129
To fix this issue, go to the package.json and change the "type" (top level) from `module` to `commonjs`.

[2020-04-25 17:51] #129 closed

[2020-04-25 19:47] Mohx14 commented on #126
you have youtube-dl ?

[2020-04-25 21:37] kaflenitish commented on #130
The whole downloaded file to be put would be hectic! Instead, can upload json files so that the user can download it (low in size around 10-30MB) and render it through udacimak! If that helps, i can start a repository with all json files!

[2020-04-26 01:38] udacimak commented on #128
Please try updating Node JS and Npm to the latest version

[2020-04-26 09:09] nerddan opened #131 "Nanodegree/course JSON repo"
I made a repo so people can share their JSON files.
https://github.com/nerddan/udacimak-repos

Feel free if you would like to fork or build your own version. I just want a place to share.

I understand this should not be an issue, and I wish you could open the discussion zone.

Cheers!

[2020-04-27 09:58] alaa-emad opened #132 "Can't render JSoN file"
i couldn't render th JSON files , i always got the folder not exist or no data in JSON file

[2020-04-27 10:57] nchand commented on #128
Updated npm and node to the latest solved the issue.

Works like a charm! Thanks, @udacimak :+1:

[2020-04-27 10:57] #128 closed

[2020-04-27 16:40] PyFinn commented on #132
Whats your operating system?

[2020-04-27 16:41] PyFinn commented on #131
really appreciate this

[2020-04-27 19:59] alaa-emad commented on #132
i tried it on linux and windows 10 also my friend tried it and the same issue

[2020-04-27 22:49] doublemint12 opened #133 "STACK: Error: connect EHOSTUNREACH"
**STACK: Error: connect EHOSTUNREACH**

Hi There!

Just wanted to ask a quick question in regards to the issue I'm having when I'm trying to render my UX Design Nanodegree coursework.

I did a quick search for EHOSTUNREACH on Udacimak's issues page but I couldn't find anything. It seems like an API issue b/c it's giving me some IP address that's not mine. I do have Windscribe VPN downloaded but wa

[2020-04-27 23:05] doublemint12 commented on #131
Very very cool.

You think it's likely that we can submit workspace files as well? Like maybe the practice solutions so we catch the important points. Or even just project datasets so we can give it a shot?

I understand that it's a bit of manual work but figured if we start early people will follow the trend, hopefully.

Thanks for doing this!

[2020-04-28 00:32] udacimak commented on #132
Please use the template when submitting the issue to clearly explain why the `render` fails

[2020-04-28 05:50] udacimak commented on #133
Could you please send the JSON data to udacimak@protonmail.com ? I suspect that the image file being downloaded might be unavailable.

Or you can also check yourself by reading the JSON data - check for the URL of the media file that's causing the issue.

Udacimak can render whichever Nanodegree version of the JSON data files that you have - so it's a good idea that you're keeping the JSON data to

[2020-04-28 06:35] surajy93 opened #134 "udacity : jupyter workspace download automatically"
i have found workspace link but when i visit it need access, so it is possible to give access automatically and download this workspace.
if possible then we can render just by change the workspace id we can download all jupyter workspace automatically.

udacity workspace link : https://view3854ccca.udacity-student-workspaces.com/tree?
 **### "workspace_id": "viewuah6hrp8uld",**
 "atoms": [

[2020-04-28 12:35] nerddan commented on #131
@PyFinn @doublemint12 Can you guys upload your nanodegrees/courses?

[2020-04-28 15:50] victorawogbemi commented on #131
@nerddan I think you should make a quick tutorial on how to make pull requests and add to your repo for newer people on github.

[2020-04-29 09:17] udacimak commented on #134
I've had a look at this before - but couldn't find a way to download all workspace files with the CLI. I don't think it's possible. In addition, many workspace files are huge in Gibabytes (ie. in AI/data courses). So this feature can't be implemented, unfortunately.

[2020-04-29 12:20] surajy93 commented on #134
without workspace i found course downloading is useless.
thanks for such a effort.

[2020-04-29 12:20] #134 closed

[2020-04-29 20:10] PyFinn commented on #131
I´ll share my Nanodegrees!

[2020-04-29 20:49] victorawogbemi commented on #131
@PyFinn @doublemint12 So pretty much fork nerddan's udacimak repo
![image](https://user-images.githubusercontent.com/21068868/80644951-79885180-8a38-11ea-9230-a856a8a6f8a1.png)
Then in your fork go into to the meta folder
![image](https://user-images.githubusercontent.com/21068868/80645046-9755b680-8a38-11ea-9fa5-22064b954f4c.png)
Click upload files and upload your course folder
![image](https://u

[2020-04-29 21:02] lightc786 opened #135 "Retrying Videos that Downloaded in Low Quality"
**Is your feature request related to a problem? Please describe.**
Some videos are not able to download at full quality at the initial pass.

**Describe the solution you'd like**
An option to re-attempt to download only videos that have not been downloaded at high quality.

[2020-04-29 22:55] lightc786 opened #136 "Unhandled Promise Rejection Error"
Downloading User Experience Nanodegree, I encounter this error. I've downloaded over 10 courses and have not encountered this error before. I looked for "969249" in each of the JSON files but did not find a match. I was seeing if I could modify the JSON to just skip over this file and continue the course download but haven't had any luck.

[code]

**Course Information**
User Experience Nanodegree

[2020-04-30 04:12] nerddan commented on #131
@victorawogbemi
Thank you for making this! I also wrote a brief tutorial in `README.md`. Maybe you want to merge my latest changes.
Also, I updated `download.sh` so users can choose the course for downloading.

[2020-04-30 11:12] udacimak commented on #136
There's an issue with the UX Nanodegree that the JSON with id `969249` contains invalid URL.

You can use Visual Studio Code, press Ctrl + Shift + F to search all JSON files for `969249`, then use the value in `non_google_url` key and copy that URL value to `url` key to temporary fix the issue.

I'll need to make an update in the next release for Udacimak to handle such a case when the URL is not

[2020-04-30 20:50] lightc786 commented on #136
For some reason, I cannot seem to find the reference of 969249 using Visual Studio Code. Not sure where it is referencing 969249 or 969249.gif.

[2020-05-01 02:52] udacimak commented on #109
Please also let me know exactly where to find this quiz (You can give me the url that shows up when you open this page)

I'm closing this issue since I can't support a new quiz type without knowing its data structure

[2020-05-01 02:52] #109 closed

[2020-05-01 02:52] doublemint12 commented on #133
Thank you so much!

[2020-05-01 03:05] udacimak commented on #133
You're welcomed! I'm opening this issue again because I'm debugging and updating Udacimak.

[2020-05-01 05:07] #75 closed

[2020-05-01 05:07] #93 closed

[2020-05-01 05:08] #96 closed

[2020-05-01 05:39] #107 closed

[2020-05-01 05:39] #133 closed

[2020-05-01 05:39] #126 closed

[2020-05-01 05:41] #136 closed

[2020-05-01 05:41] udacimak commented on #136
Please update Udacimak, the issue has been handled

[2020-05-01 05:48] udacimak commented on #127
Thanks. Please post this as a reply to the relevant issue if you can.

I've also included your instructions here:
- https://github.com/udacimak/udacimak/wiki/Install-&-Update#installation

[2020-05-01 05:48] #127 closed

[2020-05-01 05:49] #132 closed

[2020-05-01 05:53] udacimak commented on #125
Could you send through your JSON files to udacimak@protonmail.com so I can have a look?

I need to see what the __Supporting Material__ section looks like in the JSON structure.

[2020-05-01 05:57] udacimak commented on #131
@nerddan Udacity's content is proprietary. I built Udacimak so that people can use the course offline for personal use only and I don't think publicly sharing their data is legal.

[2020-05-01 05:57] #131 closed

[2020-05-01 06:01] udacimak commented on #117
@pchauhan77 Could you try with this instruction to see if it works: #127

Also, I've updated Udacimak (v1.6.3) to avoid the infinite loop when downloading Youtube, but I'm not sure if you will be able to download Youtube videos

[2020-05-01 06:12] #17 closed

[2020-05-01 06:19] udacimak commented on #74
Closing this issue because:

- Latex syntax in Udacity's JSON data is not consistent - it's not possible to improve at this moment.

[2020-05-01 06:19] #74 closed

[2020-05-01 06:20] udacimak commented on #115
Could you try with nvm, as well as try on different computers?

[2020-05-01 08:45] annaszalkiewicz commented on #117
@udacimak I've just installed Udacimak v 1.6.3 and unfortunately it doesn't download Youtube videos. Installed youtube-dl as well
System Ubuntu 20.04

[2020-05-01 09:08] udacimak commented on #117
@annaszalkiewicz Did you have this problem before `v1.6.3`? Please post the error log from your terminal.

[2020-05-01 09:19] annaszalkiewicz commented on #117
I only installed Udacimak today. It was first time I downloaded nanodegree. After I released I was unable to download videos I down
![Screenshot from 2020-05-01 10-19-34](https://user-images.githubusercontent.com/34352303/80795736-a86c0800-8b9d-11ea-9dab-083975ca6a79.png)
loaded and installed it again.

[2020-05-01 09:21] lightc786 commented on #135
In the latest version, 1.6.3, I'm getting the following errors related to this:
[code]

This is for the UX Design course.

[2020-05-01 09:26] lightc786 opened #137 "Failed to Download YouTube Video Error in 1.6.3"
**Describe the bug**
Udacimak tries to download YouTube videos but ultimately fails.

**To Reproduce**
Use 1.6.3 to download the UX Design course.

**Expected behavior**
Either YouTube quality 22 or 18 would download successfully but neither are able to download.

**Udacimak Log**
✖ Getting Youtube video (id=O7ZicYcw18c) information with quality=22
2020-05-01T09:22:35.398Z [error]: Failed to downl

[2020-05-01 09:31] udacimak commented on #117
@annaszalkiewicz Thanks, I will discuss the issue you indicated in #137 from now

[2020-05-01 09:32] udacimak commented on #137
Could you run Udacimak with `--verbose` command and post the terminal log again? I didn't make any changes to the Youtube video quality, so I'm not sure why it's failing

[2020-05-01 09:49] lightc786 commented on #137
I added --verbose but not sure it gives any additional info. See below

[code]

[2020-05-01 10:23] udacimak commented on #137
Could you try updating Udacimak and `render` again? I'm really not sure why it's not downloading for some users so I'm doing an experiment tweak.

[2020-05-01 10:40] lightc786 commented on #137
Got a new error this time as it didnt get to finish iterating through all the material. See below

`
2020-05-01T10:32:47.432Z [error]: uncaughtException: EIO: i/o error, close
Error: EIO: i/o error, close
2020-05-01T10:32:47.433Z [error]: Uncaught Exception:
ERROR: EIO: i/o error, close
CODE: EIO
STACK: Error: EIO: i/o error, close
`

`
✖ Getting Youtube video (id=YeQN3koywZ0) information with qua

[2020-05-01 10:42] udacimak commented on #137
I think you're still running `v1.6.3`, could you make sure the version is `v1.6.4`?

[2020-05-01 11:08] udacimak commented on #117
@annaszalkiewicz Could you reply in issue #137 if it's working now? I have just released an update

[2020-05-01 11:38] annaszalkiewicz commented on #137
Well I updated Udacimak, downloaded and rendered nanodegree again and still getting video error
![Screenshot from 2020-05-01 13-35-10](https://user-images.githubusercontent.com/34352303/80802889-0524ee00-8bb1-11ea-9810-bf143acd7baf.png)

[2020-05-01 13:11] udacimak commented on #137
I'm not sure why it's not working on your end yet - I've tested on both Windows and Ubuntu and they both work. The Youtube download feature seems to be a nightmare 😞

I've released another update (!!) - `v1.6.6` to try to show more error messages with Youtube download. Could you please also try running with `--verbose` parameter?

[2020-05-01 13:28] annaszalkiewicz commented on #137
Udacimak 1.6.6
![Screenshot from 2020-05-01 15-25-27](https://user-images.githubusercontent.com/34352303/80808701-59839a00-8bc0-11ea-9940-fe4489cd4cac.png)

[2020-05-01 14:41] z99z commented on #137
I have the same issue
<img width="1036" alt="sc" src="https://user-images.githubusercontent.com/51459119/80813590-eaba3700-8be7-11ea-9c07-a376babbcdf0.png">

[2020-05-01 17:39] agutierreza opened #138 "Not possible to log in"
Hi,

On Ubuntu 18.04.4 LTS, either doing `udacimak settoken <token>` or `udacimak login` I get the following exception:

[code]

[2020-05-02 01:14] udacimak commented on #138
Please update Node to the latest version and retry.

[2020-05-02 19:04] agutierreza commented on #138
Thank you, that was it!

[2020-05-02 19:04] #138 closed

[2020-05-03 06:27] abbhinavsri30 commented on #137
Any updates on this? Getting the same err.
Using Udacimak 1.6.6

[2020-05-03 12:11] tarmole commented on #137
I had also same problem.
Using windows subsystem for linux
Tried to download same video from command line and got error:

Found [Youtube-dl: Python not found (18.04)](https://askubuntu.com/questions/1037666/youtube-dl-python-not-found-18-04)
`$ sudo ln -s /usr/bin/python3 /usr/local/bin/python`
It worked for me. Now getting all videos with best quality.

[2020-05-03 12:57] udacimak commented on #137
I'm not sure how to solve this issue yet as I can't replicate the issue on my end. I'm also considering re-writing this module to avoid using `youtube-dl`. I'm also pretty busy at the moment so I'll need to come back to this in the next few weeks.

[2020-05-03 13:57] abbhinavsri30 commented on #137
@tarmole Can you please explain the steps which resolved the issue for you?

[2020-05-03 18:28] annaszalkiewicz commented on #137
After reading @tarmole post I've checked youtube-dl version and got this error:

`anna@anna-VirtualBox:~$ youtube-dl -v`
`/usr/bin/env: ‘python’: No such file or directory`

I run this command:
`$ sudo ln -s /usr/bin/python3 /usr/local/bin/python`

Checked again youtube-dl version and this time I got these results:

`

Then I rendered nanodegree content:
`$ udacimak render 'React v5.0.0' --targetd

[2020-05-03 18:57] abbhinavsri30 commented on #137
Awesome, this works at my end too.

Thanks a ton, @tarmole @annaszalkiewicz @udacimak

[2020-05-05 04:06] udacimak commented on #137
@lightc786 Does the solution above resolve the issue on your end?

[2020-05-05 04:21] abbhinavsri30 commented on #137
Yes, it does resolve. I experienced some videos not getting downloaded but the ration was 95:5, 95% got downloaded.

Note: Using Udacimak 1.6.6

[2020-05-05 05:05] lightc786 commented on #137
Yes, the latest 1.6.6 docker works fine for me. I'm not 100% sure but I actually think one of my errors with the UX course may have been due to getting banned for downloading too much from YouTube.

Quick question, are there any changes in the html files generated between 1.6.2 and 1.6.6?

Thanks so much for your support!

[2020-05-05 05:09] udacimak commented on #137
Thanks for letting me know.

Yes there's a change in HTML in v1.6.3 to fix issue #107

[2020-05-05 06:14] doublemint12 opened #139 "Recommend to ZIP your JSON folder? How about rendered courses?"
Bear with me please, but I just have a few questions in regards to how to save our downloaded courses (NOT RENDERED YET).

Is it okay to compress the folder and upload it to our DropBox, etc? Or do we risk losing some JSON data?

And for courses that have been rendered, is it okay to compress them as ZIP file as well or do we risk of losing some content? I tried it and I don't really see any folde

[2020-05-05 06:41] udacimak commented on #139
And for courses that have been rendered, is it okay to compress them as ZIP file as well or do we risk of losing some content? I tried it and I don't really see any folder size difference at all.

Yes, you should always keep your JSON files - they are the main data source to get the course contents. There's no problem compressing and uploading them on your cloud storage.

For Node, you can use [`n

[2020-05-05 07:55] adityapuranik99 opened #140 "Error : ENOENT"
**Describe the bug**
`Error: ENOENT: no such file or directory, open 'C:\Users\adity\AppData\Roaming\npm\node_modules\udacimak\node_modules\youtube-dl\bin\details'`

**Expected behavior**
I just wanted to render some JSON files. This is the first time doing this, I just installed udacimak using `npm install udacimak`, and the installation was completed perfectly/with no errors and I checked in App

[2020-05-06 02:44] doublemint12 commented on #139
Thank you :)
And oh one more question...Will the index.html file still run without all other files?
Meaning, can I just keep the index.html file only and delete the other rendered files/folders?
I was looking to save space and since all the videos can be viewed via index.html, I thought this may be a good way to go.

Thank you :)

[2020-05-06 15:49] ThatDevCoder commented on #140
Try to use npx. I was having some issues with npm but using npx it fixed it

[2020-05-08 15:45] Sushant199 opened #141 "Downloading particular chapters rather than entire course"
I have to download many courses and extracurricular section of many courses is roughly same. It's a waste of expensive mobile internet data balance to download all of them.

Is there a option from which only desired chapters can be downloaded?

[2020-05-08 18:14] christien12 commented on #137
@annaszalkiewicz

I tried what worked for you but it did not work for me, I am expriencing same issue, some videos downloaded but some did not

![Error](https://user-images.githubusercontent.com/63934082/81435622-185f2d00-9160-11ea-8dbb-dc29d5faae41.JPG)

[2020-05-09 00:03] udacimak commented on #139
No we shouldn't delete any files in the rendered folders because they are the resources that the HTML file will look up when opening the web page.

Have fun! :smile:

[2020-05-09 00:31] udacimak commented on #141
I didn't create a feature to only download some part of the course.

If you'd like to do that, editing the original JSON files could be one option.

[2020-05-09 13:56] aaman-ee opened #142 "Server-friendly rendering"
**Is your feature request related to a problem? Please describe.**
When using for example `serve` to host the nd, `index.html` should be `index.php` for proper viewing.

**Describe the solution you'd like**
Add a rendering option for server-friendly output which exports
index.php and sidebar's link Back to Home linking to index.php.

[2020-05-10 09:24] udacimak commented on #140
Could you also try using `yarn` to install, too?

I've had a few weird issues with `youtube-dl` that I cannot replicate.

[2020-05-10 10:00] udacimak commented on #142
You can use npm packages such as [`serve`](https://www.npmjs.com/package/serve) to run the page as a localhost web site. There's no need for PHP usage.

[2020-05-14 05:59] doublemint12 commented on #139
Ahhh gotcha!
Thank YOU!

[2020-05-14 10:23] cipheraxat commented on #1
Hey @udacimak  help me remove this error

base) akshat@akshat-Inspiron-5570:~$ sudo udacimak login
fs.js:114
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin/details'
    at Object.openSync (fs.js:443:3)
    at readFileSync (fs.js:343:35)
    at module.exports (/usr/local/lib/node_modules/udacimak/node_modules/yo

[2020-05-14 10:25] cipheraxat commented on #137
Hey @udacimak please help me to get through this!

(base) akshat@akshat-Inspiron-5570:~$ sudo udacimak login
fs.js:114
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin/details'
    at Object.openSync (fs.js:443:3)
    at readFileSync (fs.js:343:35)
    at module.exports (/usr/local/lib/node_modules/udacimak/node_

[2020-05-14 10:40] cipheraxat commented on #140
Hey @udacimak please help me to get through this!

(base) akshat@akshat-Inspiron-5570:~$ sudo udacimak login
fs.js:114
throw err;
^

Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin/details'
at Object.openSync (fs.js:443:3)
at readFileSync (fs.js:343:35)
at module.exports (/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/l

[2020-05-14 11:48] INNFINITEMINDS opened #143 "error while running on windows ...udacimak login"
![Screenshot (747)](https://user-images.githubusercontent.com/28722237/81930683-8bf0b680-9606-11ea-91d7-4c98e3219d84.png)
i was unable to run udacimak.
what should I do ?
awaiting for  response...

steps that I had done :
downloaded nodejs
opened cmd and written command :npminstall -g udacimak
udacimak login
the above command throws error..

any solution?

[2020-05-14 11:52] udacimak commented on #143
Could you try using Node JS without Ananconda?

[2020-05-14 11:52] sangxxh commented on #1
@cipheraxat Please open a new issue for your error

[2020-05-14 11:58] INNFINITEMINDS commented on #143
![Screenshot (749)](https://user-images.githubusercontent.com/28722237/81931771-3fa67600-9608-11ea-9dcf-e0e3daa970fe.png)
the screeshot of output displaying :
npm install -g udacimak

[2020-05-14 12:00] INNFINITEMINDS commented on #143
![Screenshot (750)](https://user-images.githubusercontent.com/28722237/81931959-872d0200-9608-11ea-898d-9e40abf8c9cb.png)

[2020-05-14 13:13] cipheraxat opened #144 "Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin/details"
Hey @udacimak how can I get through this?

(base) akshat@akshat-Inspiron-5570:~$ sudo udacimak login
fs.js:114
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/udacimak/node_modules/youtube-dl/bin/details'
    at Object.openSync (fs.js:443:3)
    at readFileSync (fs.js:343:35)
    at module.exports (/usr/local/lib/node_modules/udacimak/node_modules/

[2020-05-14 16:42] INNFINITEMINDS commented on #143
yes sir I have done without anaconda...but still getting error

[2020-05-14 16:43] INNFINITEMINDS commented on #144
have u got any solution ?

[2020-05-14 16:55] INNFINITEMINDS commented on #140
I have installed npx then what should I do ?

[2020-05-14 18:11] cipheraxat commented on #144
@INNFINITEMINDS nope .

[2020-05-14 18:44] roshanr11 opened #145 ""zsh: command not found: udacimak""
as titled

[2020-05-15 14:26] jagnarayanroy opened #146 "There is no _json/ folder in Windows"
**Describe the bug**
I'm  a Windows user, I installed the node.js, npm ajd udacimak as instructed in the cmd with admin rights.
Later, I closed the cmd and then opened a normal cmd in my C drive Documents Folder, I created a ML folder for my Nanodegree. After login,
I used the command ```
udacimak download nd230
[code]
udacimak render "Machine Learning with Tensorflow " and its different purmutati

[2020-05-15 16:17] jagnarayanroy commented on #146
Hey, please, any reply?

[2020-05-17 14:45] drifter1007 commented on #146
udacimak render "pathtodownloadedfolder"

[2020-05-18 08:02] reachayush commented on #140
![image](https://user-images.githubusercontent.com/33036718/82188694-e42bff00-990b-11ea-9586-37272bc2bb33.png)

I am not getting the "bin" folder in my local machine
OS: Win 10

[2020-05-18 08:07] reachayush commented on #140
Could you please tell what needs to be done after installing "npx"

[2020-05-18 13:45] sumanthbhe opened #147 "Subtitles are not playing."
Hi, Subtitles are not playing in any browser. As per the document, without webs server firefox should play with subtitles but in firefox also not playing the subtitles. it's very difficult to watch the video in vlc. Please fix this issue sir.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5. _(Add more or edit as appropria

[2020-05-18 16:29] rajeshroy402 commented on #146
It doesn't work. I tried it.
I also copied the complete address "C:....." Still, it says that it cannot find Udacity/Nanodegree

[2020-05-18 17:10] drifter1007 commented on #146
I will make video about this tomorrow. Will send you link

[2020-05-19 11:24] udacimak commented on #144
I'm not sure what's causing the issue yet cause I can't replicate this. Do you have access to try on a Ubuntu computer or a Docker image?

[2020-05-19 11:26] udacimak commented on #146
@rajeshroy402 Please copy all the terminal commands that you executed to download the JSON files then render the content so I can have a look

[2020-05-19 11:28] rajeshroy402 commented on #146
@udacimak , just a moment. I'll reexecute them

[2020-05-19 11:28] udacimak commented on #147
I believe Firefox has been updated and has blocked loading subtitle files when running HTML files, so we have no choice but to run the Nanodegree on a server. You can use, for example, npm `serve` package to view the Nanodegree on `localhost`.

[2020-05-19 12:12] rajeshroy402 commented on #146
I had to enter full directory address and yes, it has started to render the folder.
I'll ping back once the download is completed.

[2020-05-19 14:49] rajeshroy402 commented on #146
Done, had to copy full address from Windows, worked like a charm.
By the way, is there any feature to resume? What happens when your internet connection is off and then on?

[2020-05-19 14:56] rajeshroy402 commented on #146
Also, what if I download the nanodegree Json file right now and render it a year later or so?

[2020-05-20 03:44] Sushant199 commented on #141
I can just delete the folders of the chapters in the json directory. Would that be okay?
Would it conflict with other things or create problems in structure of the whole course?

[2020-05-20 03:46] udacimak commented on #146
You can render a year later and that'll still work, unless one or more of the Youtube video link is broken then Udacimak will not be able to download that video.

[2020-05-20 03:53] udacimak commented on #141
Yes, technically you can do that because the `render` command goes through each JSON file in the downloaded directory to render the content. So if some directories are deleted, Udacimak will skip those. Let me know if you have any issues

[2020-05-20 14:21] rajeshroy402 opened #148 "Download for example assignments from Jupyter Notebook"
Can we have a feature with which udacimak can download the inbuilt example exercises from the Jupyter Notebook to the offline content?

Even if it doesn't work under the hood of the website, still fine, just get the content which they want you to practise on. Also, some alternative built for the GPU provided by them in the course work?

[2020-05-21 08:44] resboy2445 opened #149 "udacimak not downloading"
everytime i try to install the udacimak in the git I get this error:
$ npm install -g udacimak
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142

do you know how i can fix it?

[2020-05-22 08:50] musheer491 commented on #19
Hi, what is this error representing

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/53042436/82649772-59167600-9c37-11ea-899b-d4c8073b057c.png">

[2020-05-22 08:51] musheer491 commented on #135
Hi,

what is this error representing?

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/53042436/82649856-764b4480-9c37-11ea-8efd-c09de32ddcc6.png">

[2020-05-22 14:24] Malik-Saifullah opened #150 "Installing Error"
![Screenshot 22_05_2020 7_19_54 pm](https://user-images.githubusercontent.com/43086869/82677586-af001380-9c61-11ea-84da-425c652dc49a.png)

Please tell me where I do wrong, every time I try to install the udacimak it shows the same errors.

[2020-05-23 05:20] UDHAYSY821 commented on #146
@rajeshroy402  I am also facing the same Issue can you help me out. i tried rendering the folder to which the json files ares downloaded but  getting an error:Path to downloaded udacity course /nano degree doesn't exist

[2020-05-23 05:29] rajeshroy402 commented on #146
Yes. Try the below command:
udacimak render "Enter_Full_Path_In_Double_Quotes" --targetdir "Enter_New_Full_Path_In_Double_Quotes"

For example: udacimak render "C:\Desktop\udacimak\" --targetdir "C:\Videos\"

The json folder will be seen in the first directory and the rendered file in videos directory for my example.

Ping me back if you face trouble

[2020-05-23 06:29] UDHAYSY821 commented on #146
Thanks @rajeshroy402  it worked :).

[2020-05-24 18:50] mirceanis opened #151 "Workspace default file path is not picked up from corresponding data.json"
**Describe the bug**
For jupyter workspaces, the `defaultPath` is not correctly picked up from the `atom.configuration.blueprint`

**To Reproduce**
1. render a nanodegree that has embeded jupyter workspaces
2. navigate to a workspace
3. see workspace description is missing the _Default file path_ even though it is present in the corresponding `data.json`
![Screenshot 2020-05-24 at 20 43 28](https:

[2020-05-26 10:59] cipheraxat commented on #144
@udacimak it worked well on windows but didn't get why it's not working on my ubuntu OS know.

[2020-05-26 19:34] mendax-iitm commented on #5
Using Visual Studio Code to open root directory of the project and just setup the server.....and subtitles are visible....Awesome work by @udacimak

[2020-05-27 17:16] charlyzard opened #153 "Udacimak 1.6.3 crashes on Ubuntu 18.04.4 LTS (on Windows 10 WSL)"
**Describe the bug**
The latest udacimak won't run on an Ubuntu 18.04.4 LTS (on Windows 10 WSL) environment.
Even launching udacimak without arguments crashes.
udacimak 1.5.0 was working without problems.

**To Reproduce**
Steps to reproduce the behavior:
1. On Windows 10
2. Install the Linux Subsystem
3. Install Ubuntu 18.04.4 LTS from the store
4. Install udacimak: sudo npm install -g udacimak
5

[2020-05-28 04:35] INNFINITEMINDS commented on #144
working properly using docker.:)
but unable to run on windows

[2020-05-29 14:21] #144 closed, assigned to udacimak

[2020-05-30 03:54] sachajoy opened #154 "Unable to run it throws error"
sachajoy@sachajoy:~$ yarn global add udacimak
yarn global v1.22.4
[1/4] Resolving packages...
warning udacimak > request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
warning udacimak > youtube-dl > request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
warning udacimak > npm > request@2.88.2: request has been depre

[2020-05-31 02:05] abuwildanm opened #155 "ERROR: read ECONNRESET"
When I render the downloader JSON course content, I found this error. How can I solve this error?

![image](https://user-images.githubusercontent.com/34884046/83342792-9c4ea400-a31d-11ea-88b4-15eefde14b68.png)

[2020-06-06 18:16] tasilva96 commented on #154
I have the same issue.. I am using linux ubuntu.

[2020-06-09 03:00] mabdo250 opened #156 "connect ETIMEDOUT"
connect ETIMEDOUT
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1104:14)

[2020-06-13 12:34] update-udaci opened #157 "Support material link is not showing in the downloaded course."
Support material link is not added by udacimak,I am adding screenshot of problem,this problem is for every nanodegree i downloaded.
![data analyst udacimak bug](https://user-images.githubusercontent.com/66868955/84568943-84a50000-ada0-11ea-8ddc-b14ba8e57465.png)

[2020-06-17 00:15] Xiangyu-Fu commented on #140
Try to run cmd in administrator mode，and then delete all udacimak files.Use `npm list udacimak` to reinstall udacimak.

[2020-06-18 05:56] hc2acc opened #158 "Unable to download youtube videos"
I was downloading a few nanodegrees, all of it was working perfectly fine, till the morning today.
Today, when I tried resuming my download, none of the videos get downloaded and keep reporting an error
[code]
This is when I'm downloading the data analytics nanodegree.

I don't quite understand it because I've been downloading a few nanodegrees for a couple of weeks now and every nanodegree donwlo

[2020-06-18 16:08] update-udaci commented on #158
Hi I just downloaded Data analyst nanodegree program using data.jason file and everything seems to be fine.Maybe u should reinstalling  udacimak.
![github query](https://user-images.githubusercontent.com/66868955/85044741-b1478600-b1ab-11ea-994c-4e6dca54fc06.jpg)
 udacimak version 1.6.6

[2020-06-19 06:51] hc2acc commented on #158
Okay, the problem was with my expiring license key for my OS, apparently. Reinstalling udacimak and other solutions didn't solve it, but reactivating my OS key did. For anyone else who faces the issue, this might be your problem.

[2020-06-19 06:51] #158 closed, assigned to nobody

[2020-06-19 13:10] MaoJian-a commented on #137
Hello,i have difficult when i download Youtube videos,how can i add '--proxy 127.0.0.1:1080' after  youtube-dl in render instuction. For example,'youtube-dl --proxy 127.0.0.1:1080 https://www.youtube.com/watch?v=AhGjPmKGMUw'.

[2020-06-22 04:28] tarsranger opened #159 "Solution videos"
Why doesn't it download the solution videos?

[2020-06-22 04:56] #159 closed, assigned to nobody

[2020-06-23 09:22] charlyzard commented on #153
Still happening in version 1.6.6.

[2020-06-24 18:19] Musky89 opened #160 "Issue rendering file"
I am having an issue rendering the file. It gives me an error stating "[error]: Path to downloaded Udacity course/Nanodegree doesn't exist."

Issue resoled with " " marks

[2020-06-24 18:23] #160 closed, assigned to nobody

[2020-06-25 16:17] avrdan commented on #7
Why is this issue closed? The README is still not clear about this! IMO the `--targetdir` should NOT be optional.

[2020-06-25 18:07] chinmaydas96 commented on #148
you can directly download the from the terminal there.

Steps :
1. After Notebook opens on the Udacity window, click on Jupiter, then click on New, then on the Dropdown menu click Terminal. You will be redirected to a terminal window.

2. `cd /home && ls`
     you should see **workspace** folder.

3.  `zip -r workspace.zip workspace/ && mv workspace.zip workspace`

4. click again on Jupiter icon,

[2020-06-26 06:20] hc2acc opened #161 "Doubt about expiration of json files"
When I download the json files of my nanodegree, can I render them even after my nanodegree has expired? In other words, can I download json files of a few nanodegrees and render them in the future only when I need them, even if my nanodegree has expired by then?

[2020-07-01 16:51] update-udaci commented on #161
Yes you can do so.I did the same thing and saved jason files of few nanodegree program.You can download data even after your subscribtion expires.

[2020-07-02 05:09] sasidhar-programmer opened #162 "error while downloading the youtube videos"
**Describe the bug**
A clear and concise description of what the bug is.

Command failed with exit code 1: C:\\Users\\HP\\AppData\\Roaming\\npm\\node_modules\\udacimak\\node_modules\\youtube-dl\\bin\\youtube-dl.exe --dump-json -f best --encoding utf8 http://www.youtube.com/watch?v=w2lV5_S2_2A"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2020-07-03 10:19] sainyinyimoe commented on #162
I faced the same issue. I uninstall node.js and restart my computer and reinstall node.js again.
Render again.
It work well.

[2020-07-03 14:33] hnrw opened #163 "videos not showing in rendered webpage"
**Describe the bug**
For some nanodegrees, some of the video lessons don't work. The video player shows a black screen. Pressing play doesn't do anything.

<img width="1440" alt="Screenshot 2020-07-03 at 15 26 48" src="https://user-images.githubusercontent.com/61143948/86478175-c55dbc80-bd41-11ea-94a9-79b5b1d116fe.png">

**To Reproduce**
Steps to reproduce the behavior:
1: Download  nd0011  (Front

[2020-07-03 15:14] sasidhar-programmer commented on #162
@sainyinyimoe   Thank you . It worked

[2020-07-03 15:14] #162 closed, assigned to nobody

[2020-07-03 23:32] abdo2048 commented on #122
Is there a way to choose video quality while downloading a nanodegree? I don't want to download them in 720p

[2020-07-06 10:29] joypoddar opened #164 "udacimak@1.6.6 ETIMEDOUT error"
I am getting this error while downloading.
 Download media file mjg2mzcyma.gif
2020-07-06T09:56:12.054Z [error]: ERROR: connect ETIMEDOUT 104.31.14.178:443
CODE: ETIMEDOUT
STACK: Error: connect ETIMEDOUT 104.31.14.178:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16)

![2020-07-06](https://user-images.githubusercontent.com/11984043/86583849-904fa500-bfa1-11ea-9814-77d4a6e27c4

[2020-07-11 09:36] heysachin commented on #117
`sudo ln -s /usr/bin/python3 /usr/local/bin/python` Solved it for me

This issue can be closed now as its moved to https://github.com/udacimak/udacimak/issues/137

[2020-07-17 21:38] zioalex opened #167 "getaddrinfo ENOTFOUND user-api.udacity.com user-api.udacity.com:443"
**Describe the bug**
I am unable to login or set the token

**To Reproduce**
If I try with the login
[code]

If instead i try with the token:

[code]
Coming from the latest docker images
docker pull udacimak/udacimak
Using default tag: latest
latest: Pulling from udacimak/udacimak
...
Digest: sha256:a3efe4534eefb322eb2b8b8fd44e0d152a6c3cdf16481b9eab384b81f03f1afd
Status: Downloaded newer image for

[2020-07-20 12:53] pra-dan opened #168 "Udacimak failed to install"
I am trying to install udacimak on Google Collaboratory. I am using the already installed packages and not installing any new package.

I run
[code]

**Console Log**
Relevant portion of the logs from `udacimak.info.log`
and/or `udacimak.error.log` files:

[code]

[2020-07-21 11:03] #155 closed, assigned to nobody

[2020-07-25 12:43] amitashnanda commented on #137
Hi, I was getting the same error in Linux, Ubuntu 18. I. I upgraded youtube_dl and It worked.

[2020-07-27 13:35] dev-ahmedhany commented on #163
Same problem with me ,,, That's because the video name contains '#'
open HTML page and edit source video , replace '#' with '%23'
@udacimak
I hope this bug be fixed soon

[2020-08-01 06:41] busy-in-life opened #169 "Installation of udacimak error!"
After running this command on the terminal of Kali Linux ( on windows WSL2)
`sudo npm install -g udacimak`

I faced these problems!

[code]
Any help?

[2020-08-02 13:26] ViswanadhamVamsi opened #170 "cant able to use udacimak package"
![Screenshot (97)](https://user-images.githubusercontent.com/64911466/89124052-9f1e6e80-d4f1-11ea-8ecf-002df5f7d1da.png)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5. _(Add more or edit as appropriate)_

**Expected behavior**
A clear and concise d

[2020-08-02 15:50] manisaiprasad commented on #169
Install using ```   yarn ```

[2020-08-08 11:47] pra-dan commented on #138
The best way to update is to use
[code]
Or follow the steps mentioned here: https://phoenixnap.com/kb/update-node-js-version

[2020-08-12 03:39] rayryeng commented on #149
I get this warning too.  However, it shouldn't stop you from running the downloader and render.  It still works for me.

[2020-08-16 00:34] RoniFinTech commented on #169
yarn didn't help...

[2020-08-16 02:14] RoniFinTech commented on #137
I download youtube-dl but still can't download youtube videos.
I'm on 1.6.6 udacimak

[2020-08-16 02:29] RoniFinTech commented on #137
what worked for me.
did 'brew install python' even though I already had Python installed and then followed the instructions that worked for everybody else.

[2020-08-25 11:24] mustaqimM opened #171 "Ability to choose youtube-dl quality"
**Describe the solution you'd like**
Currently, the default format is `22`, which can't be changed. I wish to be able to choose a format.

**Describe alternatives you've considered**
Normally, I choose the following:  `-f '247+251' --merge-output-format webm`

**Additional context**
`ffmpeg` is required to do the merging. The vp9 codec has a higher bitrate quality compared to x264(avc1). The forma

[2020-09-03 12:52] Ahmed-Soudi commented on #122
do a version that supports that, please. I'm okay with the extra requirements.

[2020-09-04 21:19] ebuka-odih opened #174 "404 error display"
First, i want to thank the team behind this awesome project.

after installing Udacimak, I ran npx serve as instructed, I opened the port on my browser and the home page displayed, when I navigate into the course and tried to play the videos i get "404 the requested path could not be found"

[2020-09-04 21:27] #174 closed, assigned to nobody

[2020-09-04 21:27] ebuka-odih commented on #174
i fixed it already. thank you.

[2020-09-04 22:24] abdalladarwish opened #175 "Link to video instead of downloading video it self"
Is there an option for showing the  link of the video instead of downloading it?

[2020-09-13 00:03] #175 closed, assigned to nobody

[2020-09-30 19:07] chinmaydas96 commented on #154
https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally
Uninstall it.
use this first to set.
then install it again it works for me.

[2020-10-07 20:45] codewithvaibhavhere opened #178 "Path to downloaded Udacity course/Nanodegree doesn't exist."
Facing issue with Path to download doesnt exist, Please help with the resolution

This is the code I have used, JSON is downloaded successfully. Failing while rendering the file:

(base) Vaibhav-old-Macbook:~ vaibhav-old$  udacimak render '/Users/vaibhav/Data Product Manager Nanodegree Program v1.0.0'--targetdir'/Users/vaibhav/Documents/Data Product Manager Nanodegree Program'

[2020-10-10 08:47] inboxsgk opened #179 "SyntaxError: Unexpected token"
SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:446:12)
    at Function.Module._load (module.js:438:3)
    at Module.runMain (module.js:604:10)
    at run (bootstrap_nod

[2020-10-25 05:24] hot9cups opened #180 "Youtube-DL taken down"
Now that youtube-dl is being taken down, what's the plan going forward?

[2020-11-14 07:09] profshadi opened #181 "Subtitles & Transcripts"
Add any other context or screenshots about the feature request here.
I'd like to thank you very much for such tool,
i wonder if it is possible to add feature so that the transcripts would be enabled with the videos
thanks

[2020-11-15 07:38] IndeedSi commented on #125
Just as an example for you, the `resources` part in this JSON is what is rendered on the page.

[code]

[2020-11-24 10:13] bmanikan commented on #178
have same problem in windows system.

[2020-11-27 12:44] capitan-davide commented on #168
I had the same issue in Ubuntu WSL. I solved it following #154. Uninstall, do the procedure and than run (no sudo):
`npm install -g udacimak`

Worked for me, hope it helps.

[2020-12-26 20:52] OmarShawky1 opened #182 "udacity freezes while downloading and requires interruption and redownload"
**Describe the bug**
A clear and concise description of what the bug is.
while downloading videos from youtube, udacimak stops at a random percentage (normally between 80-100%) and stops downloading until i interrupt it.
**To Reproduce**
Steps to reproduce the behavior:
1. $udacimak render ~/Full-Stack\ Developer\ v1.0.0/ --targetdir ~/Downloads/
2. wait till the error shows up

**Expected behavio

[2020-12-31 02:40] miy001 commented on #137
Hi @udacimak ,

It was working back in **August**. Now, youtube-dl seems to fail. Do I need to replace the module? How do I upgrade it? Thanks

**Windows 10**
C:\Users\Admin>udacimak --version
**v1.6.6**

λ npm list -g youtube-dl
C:\Users\Admin\AppData\Roaming\npm
-- udacimak@1.6.6
  -- **youtube-dl@3.0.2**

× Getting Youtube video (id=ZwMY5rAAd7Q) information with quality="22"
2020-12-30T18:25:26